//============================================================================
//================================= LIBRARIES ================================
//============================================================================

@import "utilities";



//============================================================================
//=============================== GLOBAL STYLES ==============================
//============================================================================

*{
	margin: 0;
	padding: 0;
	color: $color-ash;
	font-family: $font-family-base;
	font-weight: $font-weight-thin;
}

body {
	background-color: $color-charcoal;
}

article, section, main, aside, header, footer {
	overflow: hidden;
	position: relative;
	width: 100%;
}

span {
	font-weight: $font-weight-light;
}

strong {
	font-weight: $font-weight-regular;
}

a {
	font-weight: $font-weight-regular;
}

h1, h2, h3, h4, h5 ,h6 {
	text-transform: uppercase;
	font-family: $font-family-base;
	font-weight: $font-weight-light;
	margin-top: 0;
}

.text-color-pearl {
	span, p, q, h1, h2, h3, h4, h5, h6, strong {
		color: $color-pearl;
	}
}



//============================================================================
//================================== LAYOUT ==================================
//============================================================================

@mixin flex {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

	height: 100%;
	width: 100%;
}

@mixin flex-centered {
	@include flex;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;

	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
}

@mixin flex-centered-column {
	@include flex-centered;
	flex-direction: column;
}

.content-wrap {
	@include pv-responsive("max-width", 80vw, $bp-small, $bp-medium, $bp-large, $bp-wide);
	padding: 0 5%;
	position: relative;
	margin: 0 auto;
	height: 100%;
}


//============================================================================
//============================= NAVIGATION BAR ===============================
//============================================================================

.main-navbar {
	@include flex-centered;
	top: 0;
	position: fixed;
	z-index: 9999;
	background-color: color-charcoal-alpha(0.8);
    height: 60px;
    min-height: 60px;

	.main-menu {
	    list-style-type: none;
	    margin: auto;
	    padding: 0;
	    overflow: hidden;
	    width: 100%;
	    display: block;

	    li {
	    	float: right;

			a {
				color: $color-pearl; 
				text-align: center;
				padding: 0px 25px;
				
				text-transform: uppercase;
				text-decoration: none;
				letter-spacing: 1px;
				transition: 0.3s;
				font-size: 1.4rem;
				&:hover { 
					color: $color-teal; 
				}
			}

			&.collapse-icon {
				display: none;
				a {
					font-size: 2.4rem;

					i {
						color: $color-pearl; 

						&:hover { 
							color: $color-teal; 
						}
					}
				}
			}
	    }
	}

	.main-menu-collapsible-overlay {
		display: none;

		.main-menu-collapsible {
			position: fixed;
			top: 60px;
			z-index: 9999;
			width: 100%;
			overflow: hidden;
			padding: 0;
	    	list-style-type: none;

		    li {
		    	display: block;
		    	width: 100%;
		    	height: 100%;
		    	text-align: center;
		    	padding: 20px 0;

		    	&:not(:first-child) {
		    		border-top: 1px solid color-pearl-alpha(0.2);
		    		width: 100%;
		    		height: 100%;
		    	}

				a {
					color: $color-pearl;
					text-transform: uppercase;
					text-decoration: none;
					letter-spacing: 1px;
					transition: 0.3s;
					font-size: 1.4rem;

					&:hover { 
						color: $color-teal; 
					}
				}
		    }
	    }
    }

	@include mappy-query(smartphone) {
		.main-menu {
			@include flex-centered;

			li {
				display: none;

				&.collapse-icon {
					color: $color-pearl;
					display: inline-block;
					transition: 0.3s;

					&:active { 
						color: $color-teal; 
					}

					&:visited, &:link {
						color: $color-pearl;
					}
				}
			}
		}

		

	    .main-menu-collapsible-overlay {
	    	background-color: color-charcoal-alpha(0.8);
	    	position: fixed;
	    	z-index: 9999;
	    	height: 100vh;
	    	width: 100vw;
	    	top: 60px;
	    	left: 0;
	    }
	}
}



//============================================================================
//================================== COVER ===================================
//============================================================================

.cover {
	background: $color-pearl;
	padding: 0;
	margin: 60px 0 -1px 0;
	width: 100%;
	
	@include pv-responsive("height", calc(100vh - 60px), 280px, 380px, 500px, 700px);

	background-position: center;
	background-size: cover;

	@include mappy-query(smartphone) {
		background-position: 35% 50%;
	}
	
	.content-wrap {
		@include mappy-query(smartphone) {
			max-width: 100%;
		}

		.cover-inner {
			@include flex-centered;
			justify-content: flex-start;
			background-color: transparent;
			height: 100%;
			width: 100%;

			.profile-image {
				background-position: center;
				background-size: cover;
				height: 105%;
				position: absolute;
				bottom: 0%;
				right: -3%;
			}

			.cover-title {
				@include flex-centered-column;
				margin-top: -5%;
				height: 100%;
				width: auto;
				position: relative;
				align-items: flex-start;


				h1 {
					font-weight: $font-weight-light;
					@include pv-responsive("font-size", 4.4rem, 4.6rem, 5.2rem, 7.0rem, 10.0rem);
				}

				h2 {
					margin: 0;
					font-weight: $font-weight-light;
					text-transform: lowercase;
					@include pv-responsive("font-size", 2.4rem, 2.5rem, 3.0rem, 4.1rem, 5.8rem);
				}
			}

			@include mappy-query(smartphone) {
				justify-content: center;
				flex-direction: column;
				text-align: center;
				
				.profile-image {
					right: 0%;
					height: 150px;
					width: 150px;
					min-height: 50px;
					min-width: 50px;
					margin-top: -10vh;
					border-radius: 50%;
					background-color: $color-pearl;
					position: relative;
				}

				.cover-title {
					margin-top: 20px;
					height: auto;
					position: relative;
					color: $color-pearl;
					text-align: center;
					flex-direction: column;
					justify-content: flex-start;
					align-items: center;
				}		
			}

			
			@media screen and (max-height:320px) {

				.profile-image {
					margin-top: 0;
				}

				.cover-title {
					margin-top: 10px;
					h2 {
						display: none;
					}
				}
			}
		}
	}
}



//============================================================================
//=============================== HEADER QUOTE ===============================
//============================================================================

.header-quote {
	@include pv-responsive("height", 280px, 200px, 260px, 320px, 400px);

	background-color: $color-charcoal;
	background-position: center;
	background-size: cover;

	.content-wrap {
		@include flex-centered;

		span {
			display: block;
			text-align: center;
			color: $color-pearl;
			text-shadow: 2px 2px 6px color-charcoal-alpha(0.2);

			@include pv-responsive("font-size", 2.0rem, 2.0rem, 2.4rem, 2.8rem, 3.4rem);

			strong {
				color: $color-pearl;
			}
		}
	}
}



//============================================================================
//============================ SECTION SEPARATORS ============================
//============================================================================

.section-separator {
	@include pv-responsive("height", 280px, 260px, 320px, 420px, 600px);

	background-position: center;
	background-size: cover;
	width: 100%;
}



//============================================================================
//================================== FOOTER ==================================
//============================================================================

footer {
	background-color: $color-ash;
	$footer-content-height: 88%;

	@include pv-responsive("height", 540px, 400px, 480px, 560px, 700px);

	.content-wrap {
		@include flex-centered-column;

		height: $footer-content-height;
		

		h5 {
			text-align: center;
			color: $color-teal;
			font-weight: $font-weight-light;
			margin-bottom: 40px;
			@include pv-responsive("font-size", 2.4rem, 2.5rem, 3.0rem, 4.1rem, 5.2rem);
		}

		.footer-inner {

			@include flex-centered;
			padding: 0;
			height: 50%;
			justify-content: space-around;


			.contact-message {
				@include flex-centered;
				width: 55%;
				height: 100%;
				span {
					color:$color-pearl;
					@include pv-responsive("font-size", 1.4rem, 1.4rem, 1.8rem, 2.4rem, 3.0rem);

					strong {
						color: $color-pearl;
					}
				}
			}

			.separator {
				height: 100%;
				border-right: 1px solid $color-fuchsia;
			}

			.contact-info {
				@include flex-centered-column;
				width: 30%;
				height: 100%;
				text-align: center;

				h6 {
					display: block;
					margin: 20px 0 10px 0;
					font-weight: $font-weight-light;
					color: $color-pearl;
					@include pv-responsive("font-size", 1.2rem, 1.2rem, 1.2rem, 1.4rem, 1.4rem);

					&:first-child {
						margin-top: 0;
					}
				}

				a {
					display: block;
					color: $color-amber;
					@include pv-responsive("font-size", 1.4rem, 1.4rem, 1.4rem, 1.8rem, 2.0rem);
				}

				img {
					display: block;
					height: 20px;
					width: 20px;
					margin-left: 5px;
				}

				span {
					display: block;
					color: $color-pearl;

					strong {
						color:$color-pearl;
					}
				}

				.social-media {
						
						.fa {
							@include pv-responsive("font-size", 2.4rem, 2.4rem, 2.4rem, 2.8rem, 3.0rem);
							color: $color-amber;
						}
						.fa-facebook-square {
							margin-right: 10px;
						}

						.fa-google-plus-square {
						}
					}
			}
		}

		@include mappy-query(smartphone) {
			justify-content: center;

			h5 {
				margin: 0 0 20px 0;
			}

			.footer-inner {
				width: 100%;
				height: auto;
				flex-direction: column;
				justify-content: center;

				.contact-message {
					width: 100%;
					text-align: center;
					height: auto;
					margin-bottom: 20px;
				}

				.separator {
					width: 100%;
					height: 1px;
					border-top: 1px solid $color-fuchsia;
				}

				.contact-info {
					margin-top: 20px;
					width: 100%;
					height: auto;

					h6 {
						margin: 10px;
					}
				}
			}
		}
	}

	.copyright {
		@include flex-centered;
		background-color: $color-charcoal;
		text-transform: uppercase;
		height: 100% - $footer-content-height;

		span {
			color: $color-pearl;
			display: block;
			opacity: 0.5;
			@include pv-responsive("font-size", 1.0rem, 1.0rem, 1.2rem, 1.2rem, 1.2rem);

			strong {
				color: $color-pearl;
			}
		}
	}
}
