//============================================================================
//================================= LIBRARIES ================================
//============================================================================

@import "mappy-breakpoints";



//============================================================================
//================================== PATHS ===================================
//============================================================================

$path-resources-root: "./resources/";
$path-images-root: "images/"; 
$path-images-icons: "icons/";
$path-images-backgrounds: "backgrounds/";
$path-images-headers: "headers/";

@function path-backgrounds($background-name) {
	@return path-image($path-images-backgrounds + $background-name);
}

@function path-header($header-name) {
	@return path-image($path-images-headers + $header-name);
}

@function path-icon($icon-name) {
	@return path-image($path-images-icons + $icon-name);
}

@function path-image($image-relative-path) {
	@return path-resource($path-images-root + $image-relative-path);
}

@function path-resource($resource-relative-path) {
	@return $path-resources-root + $resource-relative-path;

}



//============================================================================
//================================== FONTS ===================================
//============================================================================

/* Custom Fonts */

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,100);


/* Variables */

$font-family-sans-serif: "Lato", Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;



//============================================================================
//================================ BREAKPOINTS ===============================
//============================================================================

$bp-mini	: 320px;
$bp-small	: 640px;
$bp-medium	: 768px;
$bp-large	: 1024px;
$bp-wide	: 1440px;

$breakpoints: (
  'mini'	: $bp-mini,
  'small'	: $bp-small,
  'medium'	: $bp-medium,
  'large'	: $bp-large,
  'wide'	: $bp-wide
);

$mappy-queries: (
  smartphone: 		mappy-bp(max-width small),
  non-smartphone: 	mappy-bp(small)
);

$grid-float-breakpoint: $bp-small;



//============================================================================
//================================== COLORS ==================================
//============================================================================

$color-pearl: #FCFCFC;
$color-charcoal: #1A1A1A;
$color-ash: #424242;
$color-fuchsia: #D92959;
$color-teal: #009999;
$color-amber: #FFB600;

@function color-charcoal-alpha ($alpha:0.3) {
	@return #{"rgba(26, 26, 26, " + $alpha + ")"};
}

@function color-pearl-alpha ($alpha:0.3) {
	@return #{"rgba(252, 252, 252, " + $alpha + ")"};
}



//============================================================================
//============================= RESPONSIVE DESIGN ============================
//============================================================================

/* Responsive property mixins */

// Public

@mixin pv-responsive ($property-name, $mini-value, $small-value, $medium-value, $large-value, $wide-value, $is-important: false) {
	@include responsive-property-value($property-name, $mini-value, $small-value, $medium-value, $large-value, $wide-value, $is-important);
}

// Private

@mixin responsive-property-value ($property-name, $mini-value, $small-value, $medium-value, $large-value, $wide-value, $is-important: false) {

	@include mappy-bp(wide) {
		@if $is-important == true { 
			#{$property-name}: $wide-value !important; 
		} @else {
			#{$property-name}: $wide-value; 
		}
	}
	@include mappy-bp(large wide) {
		@if $is-important == true { 
			#{$property-name}: $large-value !important; 
		} @else {
			#{$property-name}: $large-value; 
		}
	}
	@include mappy-bp(medium large) {
		@if $is-important == true { 
			#{$property-name}: $medium-value !important; 
		} @else {
			#{$property-name}: $medium-value; 
		}
	}
	@include mappy-bp(small medium) {
		@if $is-important == true { 
			#{$property-name}: $small-value !important; 
		} @else {
			#{$property-name}: $small-value; 
		}
	}
	@include mappy-bp(max-width small) {
		@if $is-important == true { 
			#{$property-name}: $mini-value !important; 
		} @else {
			#{$property-name}: $mini-value; 
		}
	}
}



//============================================================================
//============================== CUSTOM IMAGES ===============================
//============================================================================

// Public

//Target Device
//0: Both
//1: Non-Smartphone
//2: Smartphone

@mixin responsive-background-image($image-name, $blackened-alpha: 0, $target-device: 0) {
	@include responsive-image("backgrounds", $image-name, $blackened-alpha, $target-device);
}

@mixin responsive-header-image($image-name, $blackened-alpha: 0, $target-device: 0) {
	@include responsive-image("headers", $image-name, $blackened-alpha, $target-device);
}

// Private

@mixin responsive-image($images-folder, $image-name, $blackened-alpha: 0, $target-device: 0) {
	$black-value: 26; //Color Charcoal

	@if(($target-device == 1) or ($target-device == 0)) {
		//Wide 1440px
		@media only screen and (min-width: $bp-wide) { 
		    background-image: linear-gradient( 
				rgba($black-value, $black-value, $black-value, $blackened-alpha),
				rgba($black-value, $black-value, $black-value, $blackened-alpha)
			),
			url('../images/#{$images-folder}/wide/#{$image-name}');
		}
		//Large 1024px
		$ceiling: $bp-wide - 1px;
		@media only screen and (min-width: $bp-large) and (max-width: $ceiling) {
		    background-image: linear-gradient( 
				rgba($black-value, $black-value, $black-value, $blackened-alpha),
				rgba($black-value, $black-value, $black-value, $blackened-alpha)
			),
			url('../images/#{$images-folder}/wide/#{$image-name}');
		}
		//Medium 768px
		$ceiling: $bp-large - 1px;
		@media only screen and (min-width: $bp-medium) and (max-width: $ceiling) {
		    background-image: linear-gradient( 
				rgba($black-value, $black-value, $black-value, $blackened-alpha),
				rgba($black-value, $black-value, $black-value, $blackened-alpha)
			),
			url('../images/#{$images-folder}/large/#{$image-name}');
		}
		//Small 640px
		$ceiling: $bp-medium - 1px;
		@media only screen and (min-width: $bp-small) and (max-width: $ceiling) {
		    background-image: linear-gradient( 
				rgba($black-value, $black-value, $black-value, $blackened-alpha),
				rgba($black-value, $black-value, $black-value, $blackened-alpha)
			),
			url('../images/#{$images-folder}/medium/#{$image-name}');
		}
	}
	
	@if(($target-device == 2) or ($target-device == 0)) {
		//Mini
		$ceiling: $bp-small - 1px;
		@media only screen and (max-width: $ceiling) {
		    background-image: linear-gradient( 
				rgba($black-value, $black-value, $black-value, $blackened-alpha),
				rgba($black-value, $black-value, $black-value, $blackened-alpha)
			),
			url('../images/#{$images-folder}/small/#{$image-name}');
		}
	}
}

@mixin background-image-blackened($background-image-url, $alpha) {
	$black-value: 26; //Color Charcoal
	background-image: linear-gradient( 
		rgba($black-value, $black-value, $black-value, $alpha),
		rgba($black-value, $black-value, $black-value, $alpha)
	),
	url($background-image-url);
}