//============================================================================
//================================= LIBRARIES ================================
//============================================================================

@import "common";



//============================================================================
//================================== COVER ===================================
//============================================================================

.cover {
	@include responsive-header-image("artist-bg.jpg", 0, 1);
	@include responsive-header-image("artist-blurred.jpg", 0.4, 2);


	.profile-image {
		@include responsive-header-image("artist-bg-mini.jpg", 0.0, 2);
	}
}



//============================================================================
//============================== HEADER QUOTE ================================
//============================================================================

.header-quote {
	@include responsive-background-image("dry-paint.jpg", 0.5);
}



//============================================================================
//================================== MAIN ====================================
//============================================================================

main {
	background-color: $color-pearl;

	section {
		padding: 60px 0 60px 0;

		h3 {
			@include pv-responsive("font-size", 3.4rem, 3.8rem, 4.2rem, 4.4rem, 5.0rem);
			display: block;
			margin-bottom: 40px;
		}

		p, span {
			@include pv-responsive("font-size", 1.8rem, 1.8rem, 2.0rem, 2.2rem, 2.6rem);
		}
	}
}




//============================================================================
//============================ DESIGN PHILOSOPHY =============================
//============================================================================

.design-philosophy-section {
	margin: 40px 0px;

	.content-wrap {

		span {
			display: block;
			font-weight: $font-weight-light;
		}

		@include mappy-query(smartphone) {
			text-align: center;
		}

		//Swiper
		.swiper-container {
		    width: 100%;
		    height: 100%;
		    overflow: visible;

		    .swiper-slide-next, .swiper-slide-prev {
		    	opacity: 0.6;
		    }

		    .swiper-pagination-bullet-active {
		    	background-color:  $color-fuchsia;
		    }

		    .swiper-button-prev,
			.swiper-container-rtl .swiper-button-next {
			  background-image: url('../images/icons/swiper-prev.svg');
			}

			.swiper-button-next,
			.swiper-container-rtl .swiper-button-prev {
			  background-image: url('../images/icons/swiper-next.svg');
			}
		} 

		.philosophy-rule {
			margin-top: 60px;
			width: 85%;

			@include mappy-query(smartphone) {
				width: 85%;
			}

			h4 {
				color: $color-ash;
				font-weight: $font-weight-regular;
				text-transform: uppercase;
				margin-bottom: 20px;
				@include pv-responsive("font-size", 2.0rem, 2.2rem, 2.4rem, 3.0rem, 3.6rem);

				&.active {
					color: $color-charcoal;
				}
			}

			.separator {
				height: 1px;
				width: 100%;
				margin-bottom: 40px;
				border-top: 2px solid $color-fuchsia;
			}

			.rule-inner {
				@include flex-centered;

				span {
					width: 60%;
					@include pv-responsive("font-size", 1.8rem, 1.8rem, 2.0rem, 2.2rem, 2.6rem);
				}	

				.fa {
					width: 35%;
					text-align: center;
					color: $color-ash;
					@include pv-responsive("font-size", 10.0rem, 12.0rem, 14.0rem, 18.0rem, 22.0rem);
				}

				@include mappy-query(smartphone) {
					flex-direction: column;

					.fa {
						margin-top: 20px;
						width: 100%;
					}
				}
			}		
		}
	}	
}



//============================================================================
//============================= DEPTH OF FIELD ===============================
//============================================================================

.dof-section {
	margin: 40px 0px 0px 0px;

	.content-wrap {
		span {
			display: block;
		}

		@include mappy-query(smartphone) {
			text-align: center;
		}
	}	
}


//============================================================================
//============================= PHOTOPHOLIO ==================================
//============================================================================

.photopholio-section {
	
	background-color: $color-charcoal;

	.content-wrap {
		.photopholio-grid {
			width: 100%;
			height: 100%;

			.column-sizer {
				width: 8.33%;
			}

			.photopholio-item {
				width: 25%;
				
				@include pv-responsive("width", 50%, 50%, 33.33%, 33.33%, 25%);

				.aspect {
					position: relative;
					width: 100%;
					height: 0;
					padding-bottom: 100%;
					overflow: hidden;

					.aspect-inner {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;

						img {
							height: 100%;
							width: auto;
						}
					}
				}

				.aspect-16x9 {
					padding-bottom: 56.25%;
				}

				.aspect-2x3 {
					padding-bottom: 150%;
				}

				.aspect-3x2 {
					padding-bottom: 66.67%;
				}
			}
		}
	}
}


//============================================================================
//=========================== SECTION SEPARATORS =============================
//============================================================================

.section-separator {
	&#photographer {
		@include responsive-background-image("photographer.jpg");
	}
}


