//============================================================================
//================================= LIBRARIES ================================
//============================================================================

@import "common";
@import "bourbon";



//============================================================================
//============================== HEADER QUOTE ================================
//============================================================================

.header-quote {
	margin-top: 60px;
	@include responsive-background-image("time.jpg", 0.6);
}



//============================================================================
//=================================== MAIN ===================================
//============================================================================

main {

	background-color: $color-pearl;

	.content-wrap {
		padding: auto;
	}
}



//============================================================================
//============================ VERTICAL TIMELINE =============================
//============================================================================

.cd-container { /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	&::after { /* clearfix */
		content: '';
		display: table;
		clear: both;
	}
}

#cd-timeline {
	position: relative;
	padding: 50px 0;
	margin: 50px auto;
	overflow: visible;

	&::before {
		/* this is the vertical line */
		content: '';
		position: absolute;
		top: 0;
		left: 15px;
		height: 100%;
		width: 4px;
		background: color-charcoal-alpha(0.4);
	}

	@include mappy-bp(medium) {

		&::before {
			left: calc(50% - 2px);
		}
	}
}

.cd-timeline-block {
	position: relative;
	margin: 40px 0;
	@include clearfix;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	@include mappy-bp(medium) {
		margin: 4em 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.cd-timeline-img {
	
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: -10px;
	left: -20px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	box-shadow: 0 0 0 3px #A2A2A2, inset 0 2px 0 rgba(#000, .08), 0 3px 0 4px rgba(#000, .05) ;

	background: $color-teal;

	img {
		display: block;
		width: 24px;
		height: 24px;
		position: relative;
		left: 50%;
		top: 50%;
		margin-left: -12px;
		margin-top: -12px;
	}

	i {
		color: $color-pearl;
		text-align: center;
		@include pv-responsive("font-size", 3.4rem, 3.4rem, 4rem, 4rem, 4rem);
	}

	span {
		color: $color-pearl;
		margin-left: -3px;
		font-weight: $font-weight-regular;
		text-align: center;
		@include pv-responsive("font-size", 3.4rem, 3.4rem, 4rem, 4rem, 4rem);
	}


	@include mappy-bp(medium) {
		width: 80px;
		height: 80px;
		left: 50%;
		top: 0px;
		margin-left: -40px;

		
	}

	/* Force Hardware Acceleration in WebKit */
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;

		.cssanimations &.is-hidden {
			visibility: hidden;
		}

		.cssanimations &.bounce-in {
			visibility: visible;
			@include animation(cd-bounce-1 .6s);
		}
}

@include keyframes(cd-bounce-1) {
	0% {
		opacity: 0;
		@include transform(scale(.5));
	}

	60% {
		opacity: 1;
		@include transform(scale(1.2));
	}

	100% {
		@include transform(scale(1));
	}
}

.cd-timeline-content {
	position: relative;
	margin-left: 70px;
	background: $color-pearl;
	padding: 4%;
	box-shadow: -4px 4px 20px color-charcoal-alpha(0.4);
	@include clearfix;

	h2 {
		color: $color-ash;
		font-weight: $font-weight-regular;
		@include pv-responsive("font-size", 2.4rem, 2.4rem, 2.6rem, 2.8rem, 3.8rem);
	}

	p, .cd-date {
		font-weight: $font-weight-light;
		@include pv-responsive("font-size", 1.6rem, 1.6rem, 1.8rem, 2.0rem, 2.2rem);
	}

	p {
		margin: 1em 0;
		line-height: 1.6;
	}

	.cd-date {
		display: inline-block;
		float: left;
		opacity: .7;
		font-weight: $font-weight-regular;
		@include pv-responsive("left", auto, auto, 150%, 139%, 127%);
	}

	&::before {
		content: '';
		position: absolute;
		top: 16px;
		right: 100%;
		height: 0;
		width: 0;
		border: 7px solid transparent;
		border-right: 7px solid $color-pearl;
	}

	@include pv-responsive("width", 85%, 85%, 40%, 42%, 44%);
	

	@include mappy-bp(medium) {
		margin-left: 0px;
		top: 8px;
		

		&::before {
			top: 24px;
			left: 100%;
			border-color: transparent;
			border-left-color: $color-pearl;
		}

		.cd-date {
			padding: 10px 0;
			position: absolute;
			width: 100%;
			top: 12px;
		}

		.cd-timeline-block {
			top: 40px;
		}

		.cd-timeline-block:nth-child(even) & {
			float: right;
			margin-right: 0px;
			box-shadow: 4px 4px 20px color-charcoal-alpha(0.4);

			&::before {
				top: 24px;
				left: auto;
				right: 100%;
				border-color: transparent;
				border-right-color: $color-pearl;
			}

			.cd-date {
				left: auto;
				@include pv-responsive("right", auto, auto, 150%, 139%, 127%);
				text-align: right;
			}
		}

		.cssanimations &.is-hidden {
			visibility: hidden;
		}

		.cssanimations &.bounce-in {
			visibility: visible;
			@include animation(cd-bounce-2 .6s);
		}
	}
}

@include mappy-bp(medium) {
	/* inverse bounce effect on even content blocks */
	.cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
		@include animation(cd-bounce-2-inverse .6s);
	}
}

@include keyframes(cd-bounce-2) {
	0% {
		opacity: 0;
		@include transform(translateX(-100px));
	}

	60% {
		opacity: 1;
		@include transform(translateX(20px));
	}

	100% {
		@include transform(translateX(0));
	}
}

@include keyframes(cd-bounce-2-inverse) {
	0% {
		opacity: 0;
		@include transform(translateX(100px));
	}

	60% {
		opacity: 1;
		@include transform(translateX(-20px));
	}

	100% {
		@include transform(translateX(0));
	}
}
