//============================================================================
//================================= LIBRARIES ================================
//============================================================================

@import "common";



//============================================================================
//================================== COVER ===================================
//============================================================================

.cover {
	@include responsive-header-image("engineer-bg.jpg", 0.6, 1);
	@include responsive-header-image("engineer-blurred.jpg", 0.4, 2);


	.profile-image {
		opacity: 0.9;
		@include responsive-header-image("engineer-bg-mini.jpg", 0.4, 2);
	}

	@include mappy-query(smartphone) {
		.profile-image {
			opacity: 1.0;
		}
	}

	h1, h2 {
		color: color-pearl-alpha(0.8);
	}
}

//============================================================================
//============================== HEADER QUOTE ================================
//============================================================================

.header-quote {
	@include responsive-background-image("keyboard.jpg", 0.5);
}



//============================================================================
//================================== MAIN ====================================
//============================================================================

main {
	background-color: $color-pearl;

	section {
		padding: 60px 0 60px 0;

		h3 {
			@include pv-responsive("font-size", 3.4rem, 3.8rem, 4.2rem, 4.4rem, 5.0rem);
			display: block;
			margin-bottom: 40px;
		}

		p, span {
			@include pv-responsive("font-size", 1.8rem, 1.8rem, 2.0rem, 2.2rem, 2.6rem);
		}
	}
}



//============================================================================
//============================== CODE WEAPONS ================================
//============================================================================

.code-weapons-section {

	@include mappy-query(smartphone) {
		h3, span {
			text-align: center;
			display: block;
		}
	}

	.weapons-inner {

		@include flex-centered;

		max-width: 800px;
		width: 100%;
		height: auto;
		margin: 30px auto 40px auto;
		justify-content: space-around;
		align-content: space-around;
		flex-wrap: wrap;

		@include mappy-query(smartphone) {
			
			margin: 30px auto 20px auto;
		}

		.weapon {
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
			width: 110px;
			height: 110px;
			margin: 20px;
			max-height: auto;

			a {

   				.info h3 {
					font-weight: $font-weight-light;
					@include pv-responsive("font-size", 1.6rem, 1.6rem, 2.0rem, 2.0rem, 2.0rem);
				}

				&.has-hover:hover {
					.img {
						opacity: 0;
						-webkit-transform: scale(1.5);
						-moz-transform: scale(1.5);
						-ms-transform: scale(1.5);
						-o-transform: scale(1.5);
						transform: scale(1.5);
					}

					.info {
						opacity: 1;
						-webkit-transform: scale(1);
						-moz-transform: scale(1);
						-ms-transform: scale(1);
						-o-transform: scale(1);
						transform: scale(1);
					}
				}
			}

			

			@include mappy-query(smartphone) {
				width: 90px;
				height: 90px;
				margin: 10px;
			}

			&#html5 .info {
				background: rgb(214,90,50);
			}

			&#css3 .info {
				background: rgb(69,152,208);
			}

			&#sass .info {
				background: rgb(166,75,124);
			}

			&#jquery .info {
				background: rgb(30,87,152);	
			}

			&#swift .info {
				background: rgb(226,59,51);
			}

			&#xcode .info {
				background: rgb(25,83,214);
			}

			&#windows .info {
				background: rgb(57,123,10);	
			}

			&#sql-server .info {
				background: rgb(225,39,39);	
			}

			&#visual-studio .info {
				background: rgb(74,34,102);
			}

			&#rest .info {
				background: rgb(0,153,153);
			}
		}
	}
}



//============================================================================
//======================= SOFTWARE ENGINEERING TOOLS =========================
//============================================================================

.se-tools-section {

	.content-wrap {

		@include mappy-query(smartphone) {
			h3, span {
				text-align: center;
				display: block;
			}
		}

		ul {
			position: relative;
			list-style-type: none;
			margin-top: 30px;

			@include mappy-query(smartphone) {
				text-align: center;
			}

			li {
				&.level-one {
					display: block;
					text-transform: uppercase;
					@include pv-responsive("font-size", 1.6rem, 1.6rem, 1.8rem, 2.0rem, 2.2rem);
					padding-bottom: 20px;

					a {
						color: $color-fuchsia;
						font-weight: $font-weight-light;
						text-decoration: none;
						:visited, :hover, :active, :link {
							text-decoration: none;
						}

						.indicator {
							color: $color-fuchsia;
							display: inline-block;
							margin-right: 10px;
							transition: transform 0.2s linear;
						}
					}		

					ul {
						display: none;

						.level-two {
							margin-left: 21px;
							text-transform: none;
							font-weight: $font-weight-regular;
							margin-bottom: 20px;

							@include pv-responsive("font-size", 1.8rem, 1.8rem, 2.0rem, 2.2rem, 2.6rem);

							@include mappy-query(smartphone) {
								margin-left: 0px;
							}
						}
					}	

					&.uncollapsed {
						a {
							.indicator {
								-ms-transform: rotate(90deg); /* IE 9 */
							    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
							    transform: rotate(90deg);
							}
						}
					}		
				}
			}
		}
	}	
}



//============================================================================
//================================== AGILE ===================================
//============================================================================

.agile-section {
	overflow: visible;
	margin: 40px 0px;

	.content-wrap {

		span {
			display: block;
		}

		@include mappy-query(smartphone) {
			text-align: center;
		}

		.scroll-animated {
			visibility: hidden;
		}

		.slide {
		    animation-name: slide;
		    -webkit-animation-name: slide; 

		    animation-duration: 0.5s; 
		    -webkit-animation-duration: 0.5s;
		    visibility: visible;
		}

		@keyframes slide {
		    0% {
		        opacity: 0;
		        -webkit-transform: translateX(-100%);
		    } 
		    100% {
		        opacity: 1;
		        -webkit-transform: translateX(0%);
		    } 
		}
		@-webkit-keyframes slide {
		    0% {
		        opacity: 0;
		        -webkit-transform: translateX(-100%);
		    } 
		    100% {
		        opacity: 1;
		        -webkit-transform: translateX(0%);
		    }
		}


		.endline {
			text-transform: uppercase;
		}

		.fa-users {
			text-align: center;
			position: absolute;
			bottom: -90px;
			right: -5%;
			width: 25%;
			min-width: 320px;
			height: auto;
			color: color-charcoal-alpha(0.05);
			@include pv-responsive("font-size", 16.0rem, 16.0rem, 18.0rem, 20.0rem, 24.0rem);

			@include mappy-query(smartphone) {
				right: -20%;
				min-width: 260px;
			}
		}
	}	
}


//============================================================================
//=========================== SECTION SEPARATORS =============================
//============================================================================

.section-separator {
	&#spheres {
		@include responsive-background-image("spheres.jpg");
	}

	&#agile {
		@include responsive-background-image("kanban.jpg");
	}
}


