//============================================================================
//================================= LIBRARIES ================================
//============================================================================

@import "common";



//============================================================================
//================================== COVER ===================================
//============================================================================

.cover {
	@include responsive-header-image("normal-blurred.jpg", 0.4, 2);

	@include mappy-query(smartphone) {
		
		.profile-image {
			right: 3%;
			position: absolute;
		}
	}
}

//============================================================================
//============================== HEADER QUOTE ================================
//============================================================================

.header-quote {
	@include responsive-background-image("tokyo.jpg", 0.5);
}



//============================================================================
//=================================== MAIN ===================================
//============================================================================

main {
	background-color: $color-pearl;
}



//============================================================================
//=================================== INTRO ==================================
//============================================================================

.introduction {
	height: auto;
	text-align: center;
	background-color: $color-pearl;
	margin: 40px 0;

	.content-wrap {
		@include flex-centered;

		h4 { 
			margin-top: 40px;
			text-transform: uppercase;
			font-weight: $font-weight-light;
			@include pv-responsive("font-size", 3.4rem, 3.8rem, 4.2rem, 4.4rem, 5.0rem);
		}

		.quote {
			font-style: italic;
			font-weight: $font-weight-light;
			@include pv-responsive("font-size", 1.6rem, 1.6rem, 1.8rem, 2.2rem, 2.6rem);
		}

		p {
			margin: 40px 0px;
			font-weight: $font-weight-light;
			@include pv-responsive("font-size", 1.8rem, 1.8rem, 2.0rem, 2.2rem, 2.6rem);
		}

		strong {
			font-weight: $font-weight-regular;
		}
	}
}



//============================================================================
//================================== SKILLS ==================================
//============================================================================

.skill-section {
	@include flex-centered;
	@include pv-responsive("height", 400px, 280px, 380px, 500px, 700px);
	width: calc(100% - 60px);
	margin: auto auto 30px auto;
	background-position: center;
	background-size: cover;
	display: block;

	.content-wrap {
		@include flex-centered;
		justify-content: space-between;
		
		.skill-description {
			@include flex-centered-column;
			align-items: flex-end;
			position: relative;
			height: auto;
			width: 75%;
			text-align: right;

			h3 {
				@include pv-responsive("font-size", 2.4rem, 2.5rem, 3.0rem, 4.1rem, 5.8rem);
				font-weight: $font-weight-light;
				margin-bottom: 20px;
				text-shadow:2px 2px 6px color-charcoal-alpha(0.2);
				color:$color-pearl;
			}

			span {
				font-weight: $font-weight-light;
				color: $color-pearl;
				display: block;
				text-align: right;
				text-justify: inter-word;
				text-shadow:2px 2px 6px color-charcoal-alpha(0.2);
				@include pv-responsive("font-size", 1.8rem, 1.8rem, 2.0rem, 2.6rem, 3.2rem);

				box-sizing: border-box;
				max-width: 100%;
			}

			strong	{
				color: $color-pearl;
				@include pv-responsive("font-size", 1.8rem, 1.8rem, 2.0rem, 2.6rem, 3.2rem);
			}

			a {
				margin-top: 20px;
				color: $color-amber;
				text-shadow:2px 2px 6px color-charcoal-alpha(0.2);
				@include pv-responsive("font-size", 1.8rem, 1.8rem, 1.8rem, 2.2rem, 2.8rem);
			}
		}

		.skill-icon {
			position: relative;
			width: 20%;
			height: auto;
			text-align: center;

			.fa {
				color: $color-pearl;
				text-shadow:2px 2px 6px color-charcoal-alpha(0.2);
				@include pv-responsive("font-size", 7.0rem, 12.0rem, 14.0rem, 18.0rem, 22.0rem);
			}
		}
		
		@include mappy-query(smartphone) { 
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.skill-description {
				align-items: center;
				text-align: center;
				width: 100%;
				span {
					text-align: center;
				}
			}

			.skill-icon {
				width: 100%;
				margin-bottom: 15px;
			}
		}
	}

	&#engineering {
		@include responsive-background-image("computer.jpg", 0.5);
	}

	&#art {
		@include responsive-background-image("colors.jpg", 0.5);

		.skill-icon {
			order: 2;
		}

		.skill-description {
			order: 1;
			text-align: left;
			align-items: flex-start;
			span {
				text-align: left;
			}
		}

		@include mappy-query(smartphone) {
			.skill-image {
				order: 1;
			}

			.skill-description {
				order: 2;
				text-align: center;
				align-items: center;
				span {
					text-align: center;
				}
			}
		}
	}

	&#background {
		@include responsive-background-image("buildings.jpg", 0.5);
	}		
}
