/* Custom Fonts */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,100);
/* Variables */
/* Responsive property mixins */
* {
  margin: 0;
  padding: 0;
  color: #424242;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 100; }

body {
  background-color: #1A1A1A; }

article, section, main, aside, header, footer {
  overflow: hidden;
  position: relative;
  width: 100%; }

span {
  font-weight: 300; }

strong {
  font-weight: 400; }

a {
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-top: 0; }

.text-color-pearl span, .text-color-pearl p, .text-color-pearl q, .text-color-pearl h1, .text-color-pearl h2, .text-color-pearl h3, .text-color-pearl h4, .text-color-pearl h5, .text-color-pearl h6, .text-color-pearl strong {
  color: #FCFCFC; }

.content-wrap {
  padding: 0 5%;
  position: relative;
  margin: 0 auto;
  height: 100%; }
  @media all and (min-width: 90em) {
    .content-wrap {
      max-width: 1440px; } }
  @media all and (min-width: 64em) and (max-width: 89.9375em) {
    .content-wrap {
      max-width: 1024px; } }
  @media all and (min-width: 48em) and (max-width: 63.9375em) {
    .content-wrap {
      max-width: 768px; } }
  @media all and (min-width: 40em) and (max-width: 47.9375em) {
    .content-wrap {
      max-width: 640px; } }
  @media all and (max-width: 39.9375em) {
    .content-wrap {
      max-width: 80vw; } }

.main-navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  position: fixed;
  z-index: 9999;
  background-color: rgba(26, 26, 26, 0.8);
  height: 60px;
  min-height: 60px; }
  .main-navbar .main-menu {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    width: 100%;
    display: block; }
    .main-navbar .main-menu li {
      float: right; }
      .main-navbar .main-menu li a {
        color: #FCFCFC;
        text-align: center;
        padding: 0px 25px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        transition: 0.3s;
        font-size: 1.4rem; }
        .main-navbar .main-menu li a:hover {
          color: #009999; }
      .main-navbar .main-menu li.collapse-icon {
        display: none; }
        .main-navbar .main-menu li.collapse-icon a {
          font-size: 2.4rem; }
          .main-navbar .main-menu li.collapse-icon a i {
            color: #FCFCFC; }
            .main-navbar .main-menu li.collapse-icon a i:hover {
              color: #009999; }
  .main-navbar .main-menu-collapsible-overlay {
    display: none; }
    .main-navbar .main-menu-collapsible-overlay .main-menu-collapsible {
      position: fixed;
      top: 60px;
      z-index: 9999;
      width: 100%;
      overflow: hidden;
      padding: 0;
      list-style-type: none; }
      .main-navbar .main-menu-collapsible-overlay .main-menu-collapsible li {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 20px 0; }
        .main-navbar .main-menu-collapsible-overlay .main-menu-collapsible li:not(:first-child) {
          border-top: 1px solid rgba(252, 252, 252, 0.2);
          width: 100%;
          height: 100%; }
        .main-navbar .main-menu-collapsible-overlay .main-menu-collapsible li a {
          color: #FCFCFC;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 1px;
          transition: 0.3s;
          font-size: 1.4rem; }
          .main-navbar .main-menu-collapsible-overlay .main-menu-collapsible li a:hover {
            color: #009999; }
  @media all and (max-width: 39.9375em) {
    .main-navbar .main-menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      width: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .main-navbar .main-menu li {
        display: none; }
        .main-navbar .main-menu li.collapse-icon {
          color: #FCFCFC;
          display: inline-block;
          transition: 0.3s; }
          .main-navbar .main-menu li.collapse-icon:active {
            color: #009999; }
          .main-navbar .main-menu li.collapse-icon:visited, .main-navbar .main-menu li.collapse-icon:link {
            color: #FCFCFC; }
    .main-navbar .main-menu-collapsible-overlay {
      background-color: rgba(26, 26, 26, 0.8);
      position: fixed;
      z-index: 9999;
      height: 100vh;
      width: 100vw;
      top: 60px;
      left: 0; } }

.cover {
  background: #FCFCFC;
  padding: 0;
  margin: 60px 0 -1px 0;
  width: 100%;
  background-position: center;
  background-size: cover; }
  @media all and (min-width: 90em) {
    .cover {
      height: 700px; } }
  @media all and (min-width: 64em) and (max-width: 89.9375em) {
    .cover {
      height: 500px; } }
  @media all and (min-width: 48em) and (max-width: 63.9375em) {
    .cover {
      height: 380px; } }
  @media all and (min-width: 40em) and (max-width: 47.9375em) {
    .cover {
      height: 280px; } }
  @media all and (max-width: 39.9375em) {
    .cover {
      height: calc(100vh - 60px); } }
  @media all and (max-width: 39.9375em) {
    .cover {
      background-position: 35% 50%; } }
  @media all and (max-width: 39.9375em) {
    .cover .content-wrap {
      max-width: 100%; } }
  .cover .content-wrap .cover-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-content: flex-start;
    background-color: transparent;
    height: 100%;
    width: 100%; }
    .cover .content-wrap .cover-inner .profile-image {
      background-position: center;
      background-size: cover;
      height: 105%;
      position: absolute;
      bottom: 0%;
      right: -3%; }
    .cover .content-wrap .cover-inner .cover-title {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      width: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      flex-direction: column;
      margin-top: -5%;
      height: 100%;
      width: auto;
      position: relative;
      align-items: flex-start; }
      .cover .content-wrap .cover-inner .cover-title h1 {
        font-weight: 300; }
        @media all and (min-width: 90em) {
          .cover .content-wrap .cover-inner .cover-title h1 {
            font-size: 10rem; } }
        @media all and (min-width: 64em) and (max-width: 89.9375em) {
          .cover .content-wrap .cover-inner .cover-title h1 {
            font-size: 7rem; } }
        @media all and (min-width: 48em) and (max-width: 63.9375em) {
          .cover .content-wrap .cover-inner .cover-title h1 {
            font-size: 5.2rem; } }
        @media all and (min-width: 40em) and (max-width: 47.9375em) {
          .cover .content-wrap .cover-inner .cover-title h1 {
            font-size: 4.6rem; } }
        @media all and (max-width: 39.9375em) {
          .cover .content-wrap .cover-inner .cover-title h1 {
            font-size: 4.4rem; } }
      .cover .content-wrap .cover-inner .cover-title h2 {
        margin: 0;
        font-weight: 300;
        text-transform: lowercase; }
        @media all and (min-width: 90em) {
          .cover .content-wrap .cover-inner .cover-title h2 {
            font-size: 5.8rem; } }
        @media all and (min-width: 64em) and (max-width: 89.9375em) {
          .cover .content-wrap .cover-inner .cover-title h2 {
            font-size: 4.1rem; } }
        @media all and (min-width: 48em) and (max-width: 63.9375em) {
          .cover .content-wrap .cover-inner .cover-title h2 {
            font-size: 3rem; } }
        @media all and (min-width: 40em) and (max-width: 47.9375em) {
          .cover .content-wrap .cover-inner .cover-title h2 {
            font-size: 2.5rem; } }
        @media all and (max-width: 39.9375em) {
          .cover .content-wrap .cover-inner .cover-title h2 {
            font-size: 2.4rem; } }
    @media all and (max-width: 39.9375em) {
      .cover .content-wrap .cover-inner {
        justify-content: center;
        flex-direction: column;
        text-align: center; }
        .cover .content-wrap .cover-inner .profile-image {
          right: 0%;
          height: 150px;
          width: 150px;
          min-height: 50px;
          min-width: 50px;
          margin-top: -10vh;
          border-radius: 50%;
          background-color: #FCFCFC;
          position: relative; }
        .cover .content-wrap .cover-inner .cover-title {
          margin-top: 20px;
          height: auto;
          position: relative;
          color: #FCFCFC;
          text-align: center;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center; } }
    @media screen and (max-height: 320px) {
      .cover .content-wrap .cover-inner .profile-image {
        margin-top: 0; }
      .cover .content-wrap .cover-inner .cover-title {
        margin-top: 10px; }
        .cover .content-wrap .cover-inner .cover-title h2 {
          display: none; } }

.header-quote {
  background-color: #1A1A1A;
  background-position: center;
  background-size: cover; }
  @media all and (min-width: 90em) {
    .header-quote {
      height: 400px; } }
  @media all and (min-width: 64em) and (max-width: 89.9375em) {
    .header-quote {
      height: 320px; } }
  @media all and (min-width: 48em) and (max-width: 63.9375em) {
    .header-quote {
      height: 260px; } }
  @media all and (min-width: 40em) and (max-width: 47.9375em) {
    .header-quote {
      height: 200px; } }
  @media all and (max-width: 39.9375em) {
    .header-quote {
      height: 280px; } }
  .header-quote .content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .header-quote .content-wrap span {
      display: block;
      text-align: center;
      color: #FCFCFC;
      text-shadow: 2px 2px 6px rgba(26, 26, 26, 0.2); }
      @media all and (min-width: 90em) {
        .header-quote .content-wrap span {
          font-size: 3.4rem; } }
      @media all and (min-width: 64em) and (max-width: 89.9375em) {
        .header-quote .content-wrap span {
          font-size: 2.8rem; } }
      @media all and (min-width: 48em) and (max-width: 63.9375em) {
        .header-quote .content-wrap span {
          font-size: 2.4rem; } }
      @media all and (min-width: 40em) and (max-width: 47.9375em) {
        .header-quote .content-wrap span {
          font-size: 2rem; } }
      @media all and (max-width: 39.9375em) {
        .header-quote .content-wrap span {
          font-size: 2rem; } }
      .header-quote .content-wrap span strong {
        color: #FCFCFC; }

.section-separator {
  background-position: center;
  background-size: cover;
  width: 100%; }
  @media all and (min-width: 90em) {
    .section-separator {
      height: 600px; } }
  @media all and (min-width: 64em) and (max-width: 89.9375em) {
    .section-separator {
      height: 420px; } }
  @media all and (min-width: 48em) and (max-width: 63.9375em) {
    .section-separator {
      height: 320px; } }
  @media all and (min-width: 40em) and (max-width: 47.9375em) {
    .section-separator {
      height: 260px; } }
  @media all and (max-width: 39.9375em) {
    .section-separator {
      height: 280px; } }

footer {
  background-color: #424242; }
  @media all and (min-width: 90em) {
    footer {
      height: 700px; } }
  @media all and (min-width: 64em) and (max-width: 89.9375em) {
    footer {
      height: 560px; } }
  @media all and (min-width: 48em) and (max-width: 63.9375em) {
    footer {
      height: 480px; } }
  @media all and (min-width: 40em) and (max-width: 47.9375em) {
    footer {
      height: 400px; } }
  @media all and (max-width: 39.9375em) {
    footer {
      height: 540px; } }
  footer .content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
    height: 88%; }
    footer .content-wrap h5 {
      text-align: center;
      color: #009999;
      font-weight: 300;
      margin-bottom: 40px; }
      @media all and (min-width: 90em) {
        footer .content-wrap h5 {
          font-size: 5.2rem; } }
      @media all and (min-width: 64em) and (max-width: 89.9375em) {
        footer .content-wrap h5 {
          font-size: 4.1rem; } }
      @media all and (min-width: 48em) and (max-width: 63.9375em) {
        footer .content-wrap h5 {
          font-size: 3rem; } }
      @media all and (min-width: 40em) and (max-width: 47.9375em) {
        footer .content-wrap h5 {
          font-size: 2.5rem; } }
      @media all and (max-width: 39.9375em) {
        footer .content-wrap h5 {
          font-size: 2.4rem; } }
    footer .content-wrap .footer-inner {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      width: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 0;
      height: 50%;
      justify-content: space-around; }
      footer .content-wrap .footer-inner .contact-message {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        width: 100%;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 55%;
        height: 100%; }
        footer .content-wrap .footer-inner .contact-message span {
          color: #FCFCFC; }
          @media all and (min-width: 90em) {
            footer .content-wrap .footer-inner .contact-message span {
              font-size: 3rem; } }
          @media all and (min-width: 64em) and (max-width: 89.9375em) {
            footer .content-wrap .footer-inner .contact-message span {
              font-size: 2.4rem; } }
          @media all and (min-width: 48em) and (max-width: 63.9375em) {
            footer .content-wrap .footer-inner .contact-message span {
              font-size: 1.8rem; } }
          @media all and (min-width: 40em) and (max-width: 47.9375em) {
            footer .content-wrap .footer-inner .contact-message span {
              font-size: 1.4rem; } }
          @media all and (max-width: 39.9375em) {
            footer .content-wrap .footer-inner .contact-message span {
              font-size: 1.4rem; } }
          footer .content-wrap .footer-inner .contact-message span strong {
            color: #FCFCFC; }
      footer .content-wrap .footer-inner .separator {
        height: 100%;
        border-right: 1px solid #D92959; }
      footer .content-wrap .footer-inner .contact-info {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        width: 100%;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        flex-direction: column;
        width: 30%;
        height: 100%;
        text-align: center; }
        footer .content-wrap .footer-inner .contact-info h6 {
          display: block;
          margin: 20px 0 10px 0;
          font-weight: 300;
          color: #FCFCFC; }
          @media all and (min-width: 90em) {
            footer .content-wrap .footer-inner .contact-info h6 {
              font-size: 1.4rem; } }
          @media all and (min-width: 64em) and (max-width: 89.9375em) {
            footer .content-wrap .footer-inner .contact-info h6 {
              font-size: 1.4rem; } }
          @media all and (min-width: 48em) and (max-width: 63.9375em) {
            footer .content-wrap .footer-inner .contact-info h6 {
              font-size: 1.2rem; } }
          @media all and (min-width: 40em) and (max-width: 47.9375em) {
            footer .content-wrap .footer-inner .contact-info h6 {
              font-size: 1.2rem; } }
          @media all and (max-width: 39.9375em) {
            footer .content-wrap .footer-inner .contact-info h6 {
              font-size: 1.2rem; } }
          footer .content-wrap .footer-inner .contact-info h6:first-child {
            margin-top: 0; }
        footer .content-wrap .footer-inner .contact-info a {
          display: block;
          color: #FFB600; }
          @media all and (min-width: 90em) {
            footer .content-wrap .footer-inner .contact-info a {
              font-size: 2rem; } }
          @media all and (min-width: 64em) and (max-width: 89.9375em) {
            footer .content-wrap .footer-inner .contact-info a {
              font-size: 1.8rem; } }
          @media all and (min-width: 48em) and (max-width: 63.9375em) {
            footer .content-wrap .footer-inner .contact-info a {
              font-size: 1.4rem; } }
          @media all and (min-width: 40em) and (max-width: 47.9375em) {
            footer .content-wrap .footer-inner .contact-info a {
              font-size: 1.4rem; } }
          @media all and (max-width: 39.9375em) {
            footer .content-wrap .footer-inner .contact-info a {
              font-size: 1.4rem; } }
        footer .content-wrap .footer-inner .contact-info img {
          display: block;
          height: 20px;
          width: 20px;
          margin-left: 5px; }
        footer .content-wrap .footer-inner .contact-info span {
          display: block;
          color: #FCFCFC; }
          footer .content-wrap .footer-inner .contact-info span strong {
            color: #FCFCFC; }
        footer .content-wrap .footer-inner .contact-info .social-media .fa {
          color: #FFB600; }
          @media all and (min-width: 90em) {
            footer .content-wrap .footer-inner .contact-info .social-media .fa {
              font-size: 3rem; } }
          @media all and (min-width: 64em) and (max-width: 89.9375em) {
            footer .content-wrap .footer-inner .contact-info .social-media .fa {
              font-size: 2.8rem; } }
          @media all and (min-width: 48em) and (max-width: 63.9375em) {
            footer .content-wrap .footer-inner .contact-info .social-media .fa {
              font-size: 2.4rem; } }
          @media all and (min-width: 40em) and (max-width: 47.9375em) {
            footer .content-wrap .footer-inner .contact-info .social-media .fa {
              font-size: 2.4rem; } }
          @media all and (max-width: 39.9375em) {
            footer .content-wrap .footer-inner .contact-info .social-media .fa {
              font-size: 2.4rem; } }
        footer .content-wrap .footer-inner .contact-info .social-media .fa-facebook-square {
          margin-right: 10px; }
    @media all and (max-width: 39.9375em) {
      footer .content-wrap {
        justify-content: center; }
        footer .content-wrap h5 {
          margin: 0 0 20px 0; }
        footer .content-wrap .footer-inner {
          width: 100%;
          height: auto;
          flex-direction: column;
          justify-content: center; }
          footer .content-wrap .footer-inner .contact-message {
            width: 100%;
            text-align: center;
            height: auto;
            margin-bottom: 20px; }
          footer .content-wrap .footer-inner .separator {
            width: 100%;
            height: 1px;
            border-top: 1px solid #D92959; }
          footer .content-wrap .footer-inner .contact-info {
            margin-top: 20px;
            width: 100%;
            height: auto; }
            footer .content-wrap .footer-inner .contact-info h6 {
              margin: 10px; } }
  footer .copyright {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #1A1A1A;
    text-transform: uppercase;
    height: 12%; }
    footer .copyright span {
      color: #FCFCFC;
      display: block;
      opacity: 0.5; }
      @media all and (min-width: 90em) {
        footer .copyright span {
          font-size: 1.2rem; } }
      @media all and (min-width: 64em) and (max-width: 89.9375em) {
        footer .copyright span {
          font-size: 1.2rem; } }
      @media all and (min-width: 48em) and (max-width: 63.9375em) {
        footer .copyright span {
          font-size: 1.2rem; } }
      @media all and (min-width: 40em) and (max-width: 47.9375em) {
        footer .copyright span {
          font-size: 1rem; } }
      @media all and (max-width: 39.9375em) {
        footer .copyright span {
          font-size: 1rem; } }
      footer .copyright span strong {
        color: #FCFCFC; }

@media only screen and (min-width: 1440px) {
  .cover {
    background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(26, 26, 26, 0)), url("../images/headers/wide/artist-bg.jpg"); } }
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .cover {
    background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(26, 26, 26, 0)), url("../images/headers/wide/artist-bg.jpg"); } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(26, 26, 26, 0)), url("../images/headers/large/artist-bg.jpg"); } }
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .cover {
    background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(26, 26, 26, 0)), url("../images/headers/medium/artist-bg.jpg"); } }
@media only screen and (max-width: 639px) {
  .cover {
    background-image: linear-gradient(rgba(26, 26, 26, 0.4), rgba(26, 26, 26, 0.4)), url("../images/headers/small/artist-blurred.jpg"); } }
@media only screen and (max-width: 639px) {
  .cover .profile-image {
    background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(26, 26, 26, 0)), url("../images/headers/small/artist-bg-mini.jpg"); } }

@media only screen and (min-width: 1440px) {
  .header-quote {
    background-image: linear-gradient(rgba(26, 26, 26, 0.5), rgba(26, 26, 26, 0.5)), url("../images/backgrounds/wide/dry-paint.jpg"); } }
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .header-quote {
    background-image: linear-gradient(rgba(26, 26, 26, 0.5), rgba(26, 26, 26, 0.5)), url("../images/backgrounds/wide/dry-paint.jpg"); } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header-quote {
    background-image: linear-gradient(rgba(26, 26, 26, 0.5), rgba(26, 26, 26, 0.5)), url("../images/backgrounds/large/dry-paint.jpg"); } }
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .header-quote {
    background-image: linear-gradient(rgba(26, 26, 26, 0.5), rgba(26, 26, 26, 0.5)), url("../images/backgrounds/medium/dry-paint.jpg"); } }
@media only screen and (max-width: 639px) {
  .header-quote {
    background-image: linear-gradient(rgba(26, 26, 26, 0.5), rgba(26, 26, 26, 0.5)), url("../images/backgrounds/small/dry-paint.jpg"); } }

main {
  background-color: #FCFCFC; }
  main section {
    padding: 60px 0 60px 0; }
    main section h3 {
      display: block;
      margin-bottom: 40px; }
      @media all and (min-width: 90em) {
        main section h3 {
          font-size: 5rem; } }
      @media all and (min-width: 64em) and (max-width: 89.9375em) {
        main section h3 {
          font-size: 4.4rem; } }
      @media all and (min-width: 48em) and (max-width: 63.9375em) {
        main section h3 {
          font-size: 4.2rem; } }
      @media all and (min-width: 40em) and (max-width: 47.9375em) {
        main section h3 {
          font-size: 3.8rem; } }
      @media all and (max-width: 39.9375em) {
        main section h3 {
          font-size: 3.4rem; } }
    @media all and (min-width: 90em) {
      main section p, main section span {
        font-size: 2.6rem; } }
    @media all and (min-width: 64em) and (max-width: 89.9375em) {
      main section p, main section span {
        font-size: 2.2rem; } }
    @media all and (min-width: 48em) and (max-width: 63.9375em) {
      main section p, main section span {
        font-size: 2rem; } }
    @media all and (min-width: 40em) and (max-width: 47.9375em) {
      main section p, main section span {
        font-size: 1.8rem; } }
    @media all and (max-width: 39.9375em) {
      main section p, main section span {
        font-size: 1.8rem; } }

.design-philosophy-section {
  margin: 40px 0px; }
  .design-philosophy-section .content-wrap span {
    display: block;
    font-weight: 300; }
  @media all and (max-width: 39.9375em) {
    .design-philosophy-section .content-wrap {
      text-align: center; } }
  .design-philosophy-section .content-wrap .swiper-container {
    width: 100%;
    height: 100%;
    overflow: visible; }
    .design-philosophy-section .content-wrap .swiper-container .swiper-slide-next, .design-philosophy-section .content-wrap .swiper-container .swiper-slide-prev {
      opacity: 0.6; }
    .design-philosophy-section .content-wrap .swiper-container .swiper-pagination-bullet-active {
      background-color: #D92959; }
    .design-philosophy-section .content-wrap .swiper-container .swiper-button-prev,
    .design-philosophy-section .content-wrap .swiper-container .swiper-container-rtl .swiper-button-next {
      background-image: url("../images/icons/swiper-prev.svg"); }
    .design-philosophy-section .content-wrap .swiper-container .swiper-button-next,
    .design-philosophy-section .content-wrap .swiper-container .swiper-container-rtl .swiper-button-prev {
      background-image: url("../images/icons/swiper-next.svg"); }
  .design-philosophy-section .content-wrap .philosophy-rule {
    margin-top: 60px;
    width: 85%; }
    @media all and (max-width: 39.9375em) {
      .design-philosophy-section .content-wrap .philosophy-rule {
        width: 85%; } }
    .design-philosophy-section .content-wrap .philosophy-rule h4 {
      color: #424242;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 20px; }
      @media all and (min-width: 90em) {
        .design-philosophy-section .content-wrap .philosophy-rule h4 {
          font-size: 3.6rem; } }
      @media all and (min-width: 64em) and (max-width: 89.9375em) {
        .design-philosophy-section .content-wrap .philosophy-rule h4 {
          font-size: 3rem; } }
      @media all and (min-width: 48em) and (max-width: 63.9375em) {
        .design-philosophy-section .content-wrap .philosophy-rule h4 {
          font-size: 2.4rem; } }
      @media all and (min-width: 40em) and (max-width: 47.9375em) {
        .design-philosophy-section .content-wrap .philosophy-rule h4 {
          font-size: 2.2rem; } }
      @media all and (max-width: 39.9375em) {
        .design-philosophy-section .content-wrap .philosophy-rule h4 {
          font-size: 2rem; } }
      .design-philosophy-section .content-wrap .philosophy-rule h4.active {
        color: #1A1A1A; }
    .design-philosophy-section .content-wrap .philosophy-rule .separator {
      height: 1px;
      width: 100%;
      margin-bottom: 40px;
      border-top: 2px solid #D92959; }
    .design-philosophy-section .content-wrap .philosophy-rule .rule-inner {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      width: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .design-philosophy-section .content-wrap .philosophy-rule .rule-inner span {
        width: 60%; }
        @media all and (min-width: 90em) {
          .design-philosophy-section .content-wrap .philosophy-rule .rule-inner span {
            font-size: 2.6rem; } }
        @media all and (min-width: 64em) and (max-width: 89.9375em) {
          .design-philosophy-section .content-wrap .philosophy-rule .rule-inner span {
            font-size: 2.2rem; } }
        @media all and (min-width: 48em) and (max-width: 63.9375em) {
          .design-philosophy-section .content-wrap .philosophy-rule .rule-inner span {
            font-size: 2rem; } }
        @media all and (min-width: 40em) and (max-width: 47.9375em) {
          .design-philosophy-section .content-wrap .philosophy-rule .rule-inner span {
            font-size: 1.8rem; } }
        @media all and (max-width: 39.9375em) {
          .design-philosophy-section .content-wrap .philosophy-rule .rule-inner span {
            font-size: 1.8rem; } }
      .design-philosophy-section .content-wrap .philosophy-rule .rule-inner .fa {
        width: 35%;
        text-align: center;
        color: #424242; }
        @media all and (min-width: 90em) {
          .design-philosophy-section .content-wrap .philosophy-rule .rule-inner .fa {
            font-size: 22rem; } }
        @media all and (min-width: 64em) and (max-width: 89.9375em) {
          .design-philosophy-section .content-wrap .philosophy-rule .rule-inner .fa {
            font-size: 18rem; } }
        @media all and (min-width: 48em) and (max-width: 63.9375em) {
          .design-philosophy-section .content-wrap .philosophy-rule .rule-inner .fa {
            font-size: 14rem; } }
        @media all and (min-width: 40em) and (max-width: 47.9375em) {
          .design-philosophy-section .content-wrap .philosophy-rule .rule-inner .fa {
            font-size: 12rem; } }
        @media all and (max-width: 39.9375em) {
          .design-philosophy-section .content-wrap .philosophy-rule .rule-inner .fa {
            font-size: 10rem; } }
      @media all and (max-width: 39.9375em) {
        .design-philosophy-section .content-wrap .philosophy-rule .rule-inner {
          flex-direction: column; }
          .design-philosophy-section .content-wrap .philosophy-rule .rule-inner .fa {
            margin-top: 20px;
            width: 100%; } }

.dof-section {
  margin: 40px 0px 0px 0px; }
  .dof-section .content-wrap span {
    display: block; }
  @media all and (max-width: 39.9375em) {
    .dof-section .content-wrap {
      text-align: center; } }

.photopholio-section {
  background-color: #1A1A1A; }
  .photopholio-section .content-wrap .photopholio-grid {
    width: 100%;
    height: 100%; }
    .photopholio-section .content-wrap .photopholio-grid .column-sizer {
      width: 8.33%; }
    .photopholio-section .content-wrap .photopholio-grid .photopholio-item {
      width: 25%; }
      @media all and (min-width: 90em) {
        .photopholio-section .content-wrap .photopholio-grid .photopholio-item {
          width: 25%; } }
      @media all and (min-width: 64em) and (max-width: 89.9375em) {
        .photopholio-section .content-wrap .photopholio-grid .photopholio-item {
          width: 33.33%; } }
      @media all and (min-width: 48em) and (max-width: 63.9375em) {
        .photopholio-section .content-wrap .photopholio-grid .photopholio-item {
          width: 33.33%; } }
      @media all and (min-width: 40em) and (max-width: 47.9375em) {
        .photopholio-section .content-wrap .photopholio-grid .photopholio-item {
          width: 50%; } }
      @media all and (max-width: 39.9375em) {
        .photopholio-section .content-wrap .photopholio-grid .photopholio-item {
          width: 50%; } }
      .photopholio-section .content-wrap .photopholio-grid .photopholio-item .aspect {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        overflow: hidden; }
        .photopholio-section .content-wrap .photopholio-grid .photopholio-item .aspect .aspect-inner {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0; }
          .photopholio-section .content-wrap .photopholio-grid .photopholio-item .aspect .aspect-inner img {
            height: 100%;
            width: auto; }
      .photopholio-section .content-wrap .photopholio-grid .photopholio-item .aspect-16x9 {
        padding-bottom: 56.25%; }
      .photopholio-section .content-wrap .photopholio-grid .photopholio-item .aspect-2x3 {
        padding-bottom: 150%; }
      .photopholio-section .content-wrap .photopholio-grid .photopholio-item .aspect-3x2 {
        padding-bottom: 66.67%; }

@media only screen and (min-width: 1440px) {
  .section-separator#photographer {
    background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(26, 26, 26, 0)), url("../images/backgrounds/wide/photographer.jpg"); } }
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .section-separator#photographer {
    background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(26, 26, 26, 0)), url("../images/backgrounds/wide/photographer.jpg"); } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section-separator#photographer {
    background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(26, 26, 26, 0)), url("../images/backgrounds/large/photographer.jpg"); } }
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .section-separator#photographer {
    background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(26, 26, 26, 0)), url("../images/backgrounds/medium/photographer.jpg"); } }
@media only screen and (max-width: 639px) {
  .section-separator#photographer {
    background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(26, 26, 26, 0)), url("../images/backgrounds/small/photographer.jpg"); } }

/*# sourceMappingURL=artist.css.map */
