/* Custom Fonts */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,100);
/* Variables */
/* Responsive property mixins */
* {
  margin: 0;
  padding: 0;
  color: #424242;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 100; }

body {
  background-color: #1A1A1A; }

article, section, main, aside, header, footer {
  overflow: hidden;
  position: relative;
  width: 100%; }

span {
  font-weight: 300; }

strong {
  font-weight: 400; }

a {
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-top: 0; }

.text-color-pearl span, .text-color-pearl p, .text-color-pearl q, .text-color-pearl h1, .text-color-pearl h2, .text-color-pearl h3, .text-color-pearl h4, .text-color-pearl h5, .text-color-pearl h6, .text-color-pearl strong {
  color: #FCFCFC; }

.content-wrap {
  padding: 0 5%;
  position: relative;
  margin: 0 auto;
  height: 100%; }
  @media all and (min-width: 90em) {
    .content-wrap {
      max-width: 1440px; } }
  @media all and (min-width: 64em) and (max-width: 89.9375em) {
    .content-wrap {
      max-width: 1024px; } }
  @media all and (min-width: 48em) and (max-width: 63.9375em) {
    .content-wrap {
      max-width: 768px; } }
  @media all and (min-width: 40em) and (max-width: 47.9375em) {
    .content-wrap {
      max-width: 640px; } }
  @media all and (max-width: 39.9375em) {
    .content-wrap {
      max-width: 80vw; } }

.main-navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  position: fixed;
  z-index: 9999;
  background-color: rgba(26, 26, 26, 0.8);
  height: 60px;
  min-height: 60px; }
  .main-navbar .main-menu {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    width: 100%;
    display: block; }
    .main-navbar .main-menu li {
      float: right; }
      .main-navbar .main-menu li a {
        color: #FCFCFC;
        text-align: center;
        padding: 0px 25px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        transition: 0.3s;
        font-size: 1.4rem; }
        .main-navbar .main-menu li a:hover {
          color: #009999; }
      .main-navbar .main-menu li.collapse-icon {
        display: none; }
        .main-navbar .main-menu li.collapse-icon a {
          font-size: 2.4rem; }
          .main-navbar .main-menu li.collapse-icon a i {
            color: #FCFCFC; }
            .main-navbar .main-menu li.collapse-icon a i:hover {
              color: #009999; }
  .main-navbar .main-menu-collapsible-overlay {
    display: none; }
    .main-navbar .main-menu-collapsible-overlay .main-menu-collapsible {
      position: fixed;
      top: 60px;
      z-index: 9999;
      width: 100%;
      overflow: hidden;
      padding: 0;
      list-style-type: none; }
      .main-navbar .main-menu-collapsible-overlay .main-menu-collapsible li {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 20px 0; }
        .main-navbar .main-menu-collapsible-overlay .main-menu-collapsible li:not(:first-child) {
          border-top: 1px solid rgba(252, 252, 252, 0.2);
          width: 100%;
          height: 100%; }
        .main-navbar .main-menu-collapsible-overlay .main-menu-collapsible li a {
          color: #FCFCFC;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 1px;
          transition: 0.3s;
          font-size: 1.4rem; }
          .main-navbar .main-menu-collapsible-overlay .main-menu-collapsible li a:hover {
            color: #009999; }
  @media all and (max-width: 39.9375em) {
    .main-navbar .main-menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      width: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .main-navbar .main-menu li {
        display: none; }
        .main-navbar .main-menu li.collapse-icon {
          color: #FCFCFC;
          display: inline-block;
          transition: 0.3s; }
          .main-navbar .main-menu li.collapse-icon:active {
            color: #009999; }
          .main-navbar .main-menu li.collapse-icon:visited, .main-navbar .main-menu li.collapse-icon:link {
            color: #FCFCFC; }
    .main-navbar .main-menu-collapsible-overlay {
      background-color: rgba(26, 26, 26, 0.8);
      position: fixed;
      z-index: 9999;
      height: 100vh;
      width: 100vw;
      top: 60px;
      left: 0; } }

.cover {
  background: #FCFCFC;
  padding: 0;
  margin: 60px 0 -1px 0;
  width: 100%;
  background-position: center;
  background-size: cover; }
  @media all and (min-width: 90em) {
    .cover {
      height: 700px; } }
  @media all and (min-width: 64em) and (max-width: 89.9375em) {
    .cover {
      height: 500px; } }
  @media all and (min-width: 48em) and (max-width: 63.9375em) {
    .cover {
      height: 380px; } }
  @media all and (min-width: 40em) and (max-width: 47.9375em) {
    .cover {
      height: 280px; } }
  @media all and (max-width: 39.9375em) {
    .cover {
      height: calc(100vh - 60px); } }
  @media all and (max-width: 39.9375em) {
    .cover {
      background-position: 35% 50%; } }
  @media all and (max-width: 39.9375em) {
    .cover .content-wrap {
      max-width: 100%; } }
  .cover .content-wrap .cover-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-content: flex-start;
    background-color: transparent;
    height: 100%;
    width: 100%; }
    .cover .content-wrap .cover-inner .profile-image {
      background-position: center;
      background-size: cover;
      height: 105%;
      position: absolute;
      bottom: 0%;
      right: -3%; }
    .cover .content-wrap .cover-inner .cover-title {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      width: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      flex-direction: column;
      margin-top: -5%;
      height: 100%;
      width: auto;
      position: relative;
      align-items: flex-start; }
      .cover .content-wrap .cover-inner .cover-title h1 {
        font-weight: 300; }
        @media all and (min-width: 90em) {
          .cover .content-wrap .cover-inner .cover-title h1 {
            font-size: 10rem; } }
        @media all and (min-width: 64em) and (max-width: 89.9375em) {
          .cover .content-wrap .cover-inner .cover-title h1 {
            font-size: 7rem; } }
        @media all and (min-width: 48em) and (max-width: 63.9375em) {
          .cover .content-wrap .cover-inner .cover-title h1 {
            font-size: 5.2rem; } }
        @media all and (min-width: 40em) and (max-width: 47.9375em) {
          .cover .content-wrap .cover-inner .cover-title h1 {
            font-size: 4.6rem; } }
        @media all and (max-width: 39.9375em) {
          .cover .content-wrap .cover-inner .cover-title h1 {
            font-size: 4.4rem; } }
      .cover .content-wrap .cover-inner .cover-title h2 {
        margin: 0;
        font-weight: 300;
        text-transform: lowercase; }
        @media all and (min-width: 90em) {
          .cover .content-wrap .cover-inner .cover-title h2 {
            font-size: 5.8rem; } }
        @media all and (min-width: 64em) and (max-width: 89.9375em) {
          .cover .content-wrap .cover-inner .cover-title h2 {
            font-size: 4.1rem; } }
        @media all and (min-width: 48em) and (max-width: 63.9375em) {
          .cover .content-wrap .cover-inner .cover-title h2 {
            font-size: 3rem; } }
        @media all and (min-width: 40em) and (max-width: 47.9375em) {
          .cover .content-wrap .cover-inner .cover-title h2 {
            font-size: 2.5rem; } }
        @media all and (max-width: 39.9375em) {
          .cover .content-wrap .cover-inner .cover-title h2 {
            font-size: 2.4rem; } }
    @media all and (max-width: 39.9375em) {
      .cover .content-wrap .cover-inner {
        justify-content: center;
        flex-direction: column;
        text-align: center; }
        .cover .content-wrap .cover-inner .profile-image {
          right: 0%;
          height: 150px;
          width: 150px;
          min-height: 50px;
          min-width: 50px;
          margin-top: -10vh;
          border-radius: 50%;
          background-color: #FCFCFC;
          position: relative; }
        .cover .content-wrap .cover-inner .cover-title {
          margin-top: 20px;
          height: auto;
          position: relative;
          color: #FCFCFC;
          text-align: center;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center; } }
    @media screen and (max-height: 320px) {
      .cover .content-wrap .cover-inner .profile-image {
        margin-top: 0; }
      .cover .content-wrap .cover-inner .cover-title {
        margin-top: 10px; }
        .cover .content-wrap .cover-inner .cover-title h2 {
          display: none; } }

.header-quote {
  background-color: #1A1A1A;
  background-position: center;
  background-size: cover; }
  @media all and (min-width: 90em) {
    .header-quote {
      height: 400px; } }
  @media all and (min-width: 64em) and (max-width: 89.9375em) {
    .header-quote {
      height: 320px; } }
  @media all and (min-width: 48em) and (max-width: 63.9375em) {
    .header-quote {
      height: 260px; } }
  @media all and (min-width: 40em) and (max-width: 47.9375em) {
    .header-quote {
      height: 200px; } }
  @media all and (max-width: 39.9375em) {
    .header-quote {
      height: 280px; } }
  .header-quote .content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .header-quote .content-wrap span {
      display: block;
      text-align: center;
      color: #FCFCFC;
      text-shadow: 2px 2px 6px rgba(26, 26, 26, 0.2); }
      @media all and (min-width: 90em) {
        .header-quote .content-wrap span {
          font-size: 3.4rem; } }
      @media all and (min-width: 64em) and (max-width: 89.9375em) {
        .header-quote .content-wrap span {
          font-size: 2.8rem; } }
      @media all and (min-width: 48em) and (max-width: 63.9375em) {
        .header-quote .content-wrap span {
          font-size: 2.4rem; } }
      @media all and (min-width: 40em) and (max-width: 47.9375em) {
        .header-quote .content-wrap span {
          font-size: 2rem; } }
      @media all and (max-width: 39.9375em) {
        .header-quote .content-wrap span {
          font-size: 2rem; } }
      .header-quote .content-wrap span strong {
        color: #FCFCFC; }

.section-separator {
  background-position: center;
  background-size: cover;
  width: 100%; }
  @media all and (min-width: 90em) {
    .section-separator {
      height: 600px; } }
  @media all and (min-width: 64em) and (max-width: 89.9375em) {
    .section-separator {
      height: 420px; } }
  @media all and (min-width: 48em) and (max-width: 63.9375em) {
    .section-separator {
      height: 320px; } }
  @media all and (min-width: 40em) and (max-width: 47.9375em) {
    .section-separator {
      height: 260px; } }
  @media all and (max-width: 39.9375em) {
    .section-separator {
      height: 280px; } }

footer {
  background-color: #424242; }
  @media all and (min-width: 90em) {
    footer {
      height: 700px; } }
  @media all and (min-width: 64em) and (max-width: 89.9375em) {
    footer {
      height: 560px; } }
  @media all and (min-width: 48em) and (max-width: 63.9375em) {
    footer {
      height: 480px; } }
  @media all and (min-width: 40em) and (max-width: 47.9375em) {
    footer {
      height: 400px; } }
  @media all and (max-width: 39.9375em) {
    footer {
      height: 540px; } }
  footer .content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
    height: 88%; }
    footer .content-wrap h5 {
      text-align: center;
      color: #009999;
      font-weight: 300;
      margin-bottom: 40px; }
      @media all and (min-width: 90em) {
        footer .content-wrap h5 {
          font-size: 5.2rem; } }
      @media all and (min-width: 64em) and (max-width: 89.9375em) {
        footer .content-wrap h5 {
          font-size: 4.1rem; } }
      @media all and (min-width: 48em) and (max-width: 63.9375em) {
        footer .content-wrap h5 {
          font-size: 3rem; } }
      @media all and (min-width: 40em) and (max-width: 47.9375em) {
        footer .content-wrap h5 {
          font-size: 2.5rem; } }
      @media all and (max-width: 39.9375em) {
        footer .content-wrap h5 {
          font-size: 2.4rem; } }
    footer .content-wrap .footer-inner {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      width: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 0;
      height: 50%;
      justify-content: space-around; }
      footer .content-wrap .footer-inner .contact-message {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        width: 100%;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 55%;
        height: 100%; }
        footer .content-wrap .footer-inner .contact-message span {
          color: #FCFCFC; }
          @media all and (min-width: 90em) {
            footer .content-wrap .footer-inner .contact-message span {
              font-size: 3rem; } }
          @media all and (min-width: 64em) and (max-width: 89.9375em) {
            footer .content-wrap .footer-inner .contact-message span {
              font-size: 2.4rem; } }
          @media all and (min-width: 48em) and (max-width: 63.9375em) {
            footer .content-wrap .footer-inner .contact-message span {
              font-size: 1.8rem; } }
          @media all and (min-width: 40em) and (max-width: 47.9375em) {
            footer .content-wrap .footer-inner .contact-message span {
              font-size: 1.4rem; } }
          @media all and (max-width: 39.9375em) {
            footer .content-wrap .footer-inner .contact-message span {
              font-size: 1.4rem; } }
          footer .content-wrap .footer-inner .contact-message span strong {
            color: #FCFCFC; }
      footer .content-wrap .footer-inner .separator {
        height: 100%;
        border-right: 1px solid #D92959; }
      footer .content-wrap .footer-inner .contact-info {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        width: 100%;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        flex-direction: column;
        width: 30%;
        height: 100%;
        text-align: center; }
        footer .content-wrap .footer-inner .contact-info h6 {
          display: block;
          margin: 20px 0 10px 0;
          font-weight: 300;
          color: #FCFCFC; }
          @media all and (min-width: 90em) {
            footer .content-wrap .footer-inner .contact-info h6 {
              font-size: 1.4rem; } }
          @media all and (min-width: 64em) and (max-width: 89.9375em) {
            footer .content-wrap .footer-inner .contact-info h6 {
              font-size: 1.4rem; } }
          @media all and (min-width: 48em) and (max-width: 63.9375em) {
            footer .content-wrap .footer-inner .contact-info h6 {
              font-size: 1.2rem; } }
          @media all and (min-width: 40em) and (max-width: 47.9375em) {
            footer .content-wrap .footer-inner .contact-info h6 {
              font-size: 1.2rem; } }
          @media all and (max-width: 39.9375em) {
            footer .content-wrap .footer-inner .contact-info h6 {
              font-size: 1.2rem; } }
          footer .content-wrap .footer-inner .contact-info h6:first-child {
            margin-top: 0; }
        footer .content-wrap .footer-inner .contact-info a {
          display: block;
          color: #FFB600; }
          @media all and (min-width: 90em) {
            footer .content-wrap .footer-inner .contact-info a {
              font-size: 2rem; } }
          @media all and (min-width: 64em) and (max-width: 89.9375em) {
            footer .content-wrap .footer-inner .contact-info a {
              font-size: 1.8rem; } }
          @media all and (min-width: 48em) and (max-width: 63.9375em) {
            footer .content-wrap .footer-inner .contact-info a {
              font-size: 1.4rem; } }
          @media all and (min-width: 40em) and (max-width: 47.9375em) {
            footer .content-wrap .footer-inner .contact-info a {
              font-size: 1.4rem; } }
          @media all and (max-width: 39.9375em) {
            footer .content-wrap .footer-inner .contact-info a {
              font-size: 1.4rem; } }
        footer .content-wrap .footer-inner .contact-info img {
          display: block;
          height: 20px;
          width: 20px;
          margin-left: 5px; }
        footer .content-wrap .footer-inner .contact-info span {
          display: block;
          color: #FCFCFC; }
          footer .content-wrap .footer-inner .contact-info span strong {
            color: #FCFCFC; }
        footer .content-wrap .footer-inner .contact-info .social-media .fa {
          color: #FFB600; }
          @media all and (min-width: 90em) {
            footer .content-wrap .footer-inner .contact-info .social-media .fa {
              font-size: 3rem; } }
          @media all and (min-width: 64em) and (max-width: 89.9375em) {
            footer .content-wrap .footer-inner .contact-info .social-media .fa {
              font-size: 2.8rem; } }
          @media all and (min-width: 48em) and (max-width: 63.9375em) {
            footer .content-wrap .footer-inner .contact-info .social-media .fa {
              font-size: 2.4rem; } }
          @media all and (min-width: 40em) and (max-width: 47.9375em) {
            footer .content-wrap .footer-inner .contact-info .social-media .fa {
              font-size: 2.4rem; } }
          @media all and (max-width: 39.9375em) {
            footer .content-wrap .footer-inner .contact-info .social-media .fa {
              font-size: 2.4rem; } }
        footer .content-wrap .footer-inner .contact-info .social-media .fa-facebook-square {
          margin-right: 10px; }
    @media all and (max-width: 39.9375em) {
      footer .content-wrap {
        justify-content: center; }
        footer .content-wrap h5 {
          margin: 0 0 20px 0; }
        footer .content-wrap .footer-inner {
          width: 100%;
          height: auto;
          flex-direction: column;
          justify-content: center; }
          footer .content-wrap .footer-inner .contact-message {
            width: 100%;
            text-align: center;
            height: auto;
            margin-bottom: 20px; }
          footer .content-wrap .footer-inner .separator {
            width: 100%;
            height: 1px;
            border-top: 1px solid #D92959; }
          footer .content-wrap .footer-inner .contact-info {
            margin-top: 20px;
            width: 100%;
            height: auto; }
            footer .content-wrap .footer-inner .contact-info h6 {
              margin: 10px; } }
  footer .copyright {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #1A1A1A;
    text-transform: uppercase;
    height: 12%; }
    footer .copyright span {
      color: #FCFCFC;
      display: block;
      opacity: 0.5; }
      @media all and (min-width: 90em) {
        footer .copyright span {
          font-size: 1.2rem; } }
      @media all and (min-width: 64em) and (max-width: 89.9375em) {
        footer .copyright span {
          font-size: 1.2rem; } }
      @media all and (min-width: 48em) and (max-width: 63.9375em) {
        footer .copyright span {
          font-size: 1.2rem; } }
      @media all and (min-width: 40em) and (max-width: 47.9375em) {
        footer .copyright span {
          font-size: 1rem; } }
      @media all and (max-width: 39.9375em) {
        footer .copyright span {
          font-size: 1rem; } }
      footer .copyright span strong {
        color: #FCFCFC; }

.header-quote {
  margin-top: 60px; }
  @media only screen and (min-width: 1440px) {
    .header-quote {
      background-image: linear-gradient(rgba(26, 26, 26, 0.6), rgba(26, 26, 26, 0.6)), url("../images/backgrounds/wide/time.jpg"); } }
  @media only screen and (min-width: 1024px) and (max-width: 1439px) {
    .header-quote {
      background-image: linear-gradient(rgba(26, 26, 26, 0.6), rgba(26, 26, 26, 0.6)), url("../images/backgrounds/wide/time.jpg"); } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .header-quote {
      background-image: linear-gradient(rgba(26, 26, 26, 0.6), rgba(26, 26, 26, 0.6)), url("../images/backgrounds/large/time.jpg"); } }
  @media only screen and (min-width: 640px) and (max-width: 767px) {
    .header-quote {
      background-image: linear-gradient(rgba(26, 26, 26, 0.6), rgba(26, 26, 26, 0.6)), url("../images/backgrounds/medium/time.jpg"); } }
  @media only screen and (max-width: 639px) {
    .header-quote {
      background-image: linear-gradient(rgba(26, 26, 26, 0.6), rgba(26, 26, 26, 0.6)), url("../images/backgrounds/small/time.jpg"); } }

main {
  background-color: #FCFCFC; }
  main .content-wrap {
    padding: auto; }

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */ }
  .cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both; }

#cd-timeline {
  position: relative;
  padding: 50px 0;
  margin: 50px auto;
  overflow: visible; }
  #cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    height: 100%;
    width: 4px;
    background: rgba(26, 26, 26, 0.4); }
  @media all and (min-width: 48em) {
    #cd-timeline::before {
      left: calc(50% - 2px); } }

.cd-timeline-block {
  position: relative;
  margin: 40px 0; }
  .cd-timeline-block::after {
    clear: both;
    content: "";
    display: table; }
  .cd-timeline-block:first-child {
    margin-top: 0; }
  .cd-timeline-block:last-child {
    margin-bottom: 0; }
  @media all and (min-width: 48em) {
    .cd-timeline-block {
      margin: 4em 0; }
      .cd-timeline-block:first-child {
        margin-top: 0; }
      .cd-timeline-block:last-child {
        margin-bottom: 0; } }

.cd-timeline-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  left: -20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #A2A2A2, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  background: #009999;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden; }
  .cd-timeline-img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px; }
  .cd-timeline-img i {
    color: #FCFCFC;
    text-align: center; }
    @media all and (min-width: 90em) {
      .cd-timeline-img i {
        font-size: 4rem; } }
    @media all and (min-width: 64em) and (max-width: 89.9375em) {
      .cd-timeline-img i {
        font-size: 4rem; } }
    @media all and (min-width: 48em) and (max-width: 63.9375em) {
      .cd-timeline-img i {
        font-size: 4rem; } }
    @media all and (min-width: 40em) and (max-width: 47.9375em) {
      .cd-timeline-img i {
        font-size: 3.4rem; } }
    @media all and (max-width: 39.9375em) {
      .cd-timeline-img i {
        font-size: 3.4rem; } }
  .cd-timeline-img span {
    color: #FCFCFC;
    margin-left: -3px;
    font-weight: 400;
    text-align: center; }
    @media all and (min-width: 90em) {
      .cd-timeline-img span {
        font-size: 4rem; } }
    @media all and (min-width: 64em) and (max-width: 89.9375em) {
      .cd-timeline-img span {
        font-size: 4rem; } }
    @media all and (min-width: 48em) and (max-width: 63.9375em) {
      .cd-timeline-img span {
        font-size: 4rem; } }
    @media all and (min-width: 40em) and (max-width: 47.9375em) {
      .cd-timeline-img span {
        font-size: 3.4rem; } }
    @media all and (max-width: 39.9375em) {
      .cd-timeline-img span {
        font-size: 3.4rem; } }
  @media all and (min-width: 48em) {
    .cd-timeline-img {
      width: 80px;
      height: 80px;
      left: 50%;
      top: 0px;
      margin-left: -40px; } }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden; }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s; }

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1); } }
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5); }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2); }
  100% {
    -moz-transform: scale(1); } }
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
.cd-timeline-content {
  position: relative;
  margin-left: 70px;
  background: #FCFCFC;
  padding: 4%;
  box-shadow: -4px 4px 20px rgba(26, 26, 26, 0.4); }
  .cd-timeline-content::after {
    clear: both;
    content: "";
    display: table; }
  .cd-timeline-content h2 {
    color: #424242;
    font-weight: 400; }
    @media all and (min-width: 90em) {
      .cd-timeline-content h2 {
        font-size: 3.8rem; } }
    @media all and (min-width: 64em) and (max-width: 89.9375em) {
      .cd-timeline-content h2 {
        font-size: 2.8rem; } }
    @media all and (min-width: 48em) and (max-width: 63.9375em) {
      .cd-timeline-content h2 {
        font-size: 2.6rem; } }
    @media all and (min-width: 40em) and (max-width: 47.9375em) {
      .cd-timeline-content h2 {
        font-size: 2.4rem; } }
    @media all and (max-width: 39.9375em) {
      .cd-timeline-content h2 {
        font-size: 2.4rem; } }
  .cd-timeline-content p, .cd-timeline-content .cd-date {
    font-weight: 300; }
    @media all and (min-width: 90em) {
      .cd-timeline-content p, .cd-timeline-content .cd-date {
        font-size: 2.2rem; } }
    @media all and (min-width: 64em) and (max-width: 89.9375em) {
      .cd-timeline-content p, .cd-timeline-content .cd-date {
        font-size: 2rem; } }
    @media all and (min-width: 48em) and (max-width: 63.9375em) {
      .cd-timeline-content p, .cd-timeline-content .cd-date {
        font-size: 1.8rem; } }
    @media all and (min-width: 40em) and (max-width: 47.9375em) {
      .cd-timeline-content p, .cd-timeline-content .cd-date {
        font-size: 1.6rem; } }
    @media all and (max-width: 39.9375em) {
      .cd-timeline-content p, .cd-timeline-content .cd-date {
        font-size: 1.6rem; } }
  .cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6; }
  .cd-timeline-content .cd-date {
    display: inline-block;
    float: left;
    opacity: .7;
    font-weight: 400; }
    @media all and (min-width: 90em) {
      .cd-timeline-content .cd-date {
        left: 127%; } }
    @media all and (min-width: 64em) and (max-width: 89.9375em) {
      .cd-timeline-content .cd-date {
        left: 139%; } }
    @media all and (min-width: 48em) and (max-width: 63.9375em) {
      .cd-timeline-content .cd-date {
        left: 150%; } }
    @media all and (min-width: 40em) and (max-width: 47.9375em) {
      .cd-timeline-content .cd-date {
        left: auto; } }
    @media all and (max-width: 39.9375em) {
      .cd-timeline-content .cd-date {
        left: auto; } }
  .cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #FCFCFC; }
  @media all and (min-width: 90em) {
    .cd-timeline-content {
      width: 44%; } }
  @media all and (min-width: 64em) and (max-width: 89.9375em) {
    .cd-timeline-content {
      width: 42%; } }
  @media all and (min-width: 48em) and (max-width: 63.9375em) {
    .cd-timeline-content {
      width: 40%; } }
  @media all and (min-width: 40em) and (max-width: 47.9375em) {
    .cd-timeline-content {
      width: 85%; } }
  @media all and (max-width: 39.9375em) {
    .cd-timeline-content {
      width: 85%; } }
  @media all and (min-width: 48em) {
    .cd-timeline-content {
      margin-left: 0px;
      top: 8px; }
      .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #FCFCFC; }
      .cd-timeline-content .cd-date {
        padding: 10px 0;
        position: absolute;
        width: 100%;
        top: 12px; }
      .cd-timeline-content .cd-timeline-block {
        top: 40px; }
      .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
        margin-right: 0px;
        box-shadow: 4px 4px 20px rgba(26, 26, 26, 0.4); }
        .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
          top: 24px;
          left: auto;
          right: 100%;
          border-color: transparent;
          border-right-color: #FCFCFC; }
        .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
          left: auto;
          text-align: right; } }
      @media all and (min-width: 48em) and (min-width: 90em) {
        .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
          right: 127%; } }
      @media all and (min-width: 48em) and (min-width: 64em) and (max-width: 89.9375em) {
        .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
          right: 139%; } }
      @media all and (min-width: 48em) and (min-width: 48em) and (max-width: 63.9375em) {
        .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
          right: 150%; } }
      @media all and (min-width: 48em) and (min-width: 40em) and (max-width: 47.9375em) {
        .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
          right: auto; } }
      @media all and (min-width: 48em) and (max-width: 39.9375em) {
        .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
          right: auto; } }
  @media all and (min-width: 48em) {
      .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden; }
      .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        -moz-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s; } }

@media all and (min-width: 48em) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s; } }
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px); }
  100% {
    -webkit-transform: translateX(0); } }
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px); }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px); }
  100% {
    -moz-transform: translateX(0); } }
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0); } }
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px); }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px); }
  100% {
    -moz-transform: translateX(0); } }
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }

/*# sourceMappingURL=background.css.map */
