/* Custom Fonts */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,100);
/* Variables */
/* Responsive property mixins */
* {
  margin: 0;
  padding: 0;
  color: #424242;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 100; }

body {
  background-color: #1A1A1A; }

article, section, main, aside, header, footer {
  overflow: hidden;
  position: relative;
  width: 100%; }

span {
  font-weight: 300; }

strong {
  font-weight: 400; }

a {
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-top: 0; }

.text-color-pearl span, .text-color-pearl p, .text-color-pearl q, .text-color-pearl h1, .text-color-pearl h2, .text-color-pearl h3, .text-color-pearl h4, .text-color-pearl h5, .text-color-pearl h6, .text-color-pearl strong {
  color: #FCFCFC; }

.content-wrap {
  padding: 0 5%;
  position: relative;
  margin: 0 auto;
  height: 100%; }
  @media all and (min-width: 90em) {
    .content-wrap {
      max-width: 1440px; } }
  @media all and (min-width: 64em) and (max-width: 89.9375em) {
    .content-wrap {
      max-width: 1024px; } }
  @media all and (min-width: 48em) and (max-width: 63.9375em) {
    .content-wrap {
      max-width: 768px; } }
  @media all and (min-width: 40em) and (max-width: 47.9375em) {
    .content-wrap {
      max-width: 640px; } }
  @media all and (max-width: 39.9375em) {
    .content-wrap {
      max-width: 80vw; } }

.main-navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  position: fixed;
  z-index: 9999;
  background-color: rgba(26, 26, 26, 0.8);
  height: 60px;
  min-height: 60px; }
  .main-navbar .main-menu {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    width: 100%;
    display: block; }
    .main-navbar .main-menu li {
      float: right; }
      .main-navbar .main-menu li a {
        color: #FCFCFC;
        text-align: center;
        padding: 0px 25px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 1px;
        transition: 0.3s;
        font-size: 1.4rem; }
        .main-navbar .main-menu li a:hover {
          color: #009999; }
      .main-navbar .main-menu li.collapse-icon {
        display: none; }
        .main-navbar .main-menu li.collapse-icon a {
          font-size: 2.4rem; }
          .main-navbar .main-menu li.collapse-icon a i {
            color: #FCFCFC; }
            .main-navbar .main-menu li.collapse-icon a i:hover {
              color: #009999; }
  .main-navbar .main-menu-collapsible-overlay {
    display: none; }
    .main-navbar .main-menu-collapsible-overlay .main-menu-collapsible {
      position: fixed;
      top: 60px;
      z-index: 9999;
      width: 100%;
      overflow: hidden;
      padding: 0;
      list-style-type: none; }
      .main-navbar .main-menu-collapsible-overlay .main-menu-collapsible li {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 20px 0; }
        .main-navbar .main-menu-collapsible-overlay .main-menu-collapsible li:not(:first-child) {
          border-top: 1px solid rgba(252, 252, 252, 0.2);
          width: 100%;
          height: 100%; }
        .main-navbar .main-menu-collapsible-overlay .main-menu-collapsible li a {
          color: #FCFCFC;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 1px;
          transition: 0.3s;
          font-size: 1.4rem; }
          .main-navbar .main-menu-collapsible-overlay .main-menu-collapsible li a:hover {
            color: #009999; }
  @media all and (max-width: 39.9375em) {
    .main-navbar .main-menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      width: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .main-navbar .main-menu li {
        display: none; }
        .main-navbar .main-menu li.collapse-icon {
          color: #FCFCFC;
          display: inline-block;
          transition: 0.3s; }
          .main-navbar .main-menu li.collapse-icon:active {
            color: #009999; }
          .main-navbar .main-menu li.collapse-icon:visited, .main-navbar .main-menu li.collapse-icon:link {
            color: #FCFCFC; }
    .main-navbar .main-menu-collapsible-overlay {
      background-color: rgba(26, 26, 26, 0.8);
      position: fixed;
      z-index: 9999;
      height: 100vh;
      width: 100vw;
      top: 60px;
      left: 0; } }

.cover {
  background: #FCFCFC;
  padding: 0;
  margin: 60px 0 -1px 0;
  width: 100%;
  background-position: center;
  background-size: cover; }
  @media all and (min-width: 90em) {
    .cover {
      height: 700px; } }
  @media all and (min-width: 64em) and (max-width: 89.9375em) {
    .cover {
      height: 500px; } }
  @media all and (min-width: 48em) and (max-width: 63.9375em) {
    .cover {
      height: 380px; } }
  @media all and (min-width: 40em) and (max-width: 47.9375em) {
    .cover {
      height: 280px; } }
  @media all and (max-width: 39.9375em) {
    .cover {
      height: calc(100vh - 60px); } }
  @media all and (max-width: 39.9375em) {
    .cover {
      background-position: 35% 50%; } }
  @media all and (max-width: 39.9375em) {
    .cover .content-wrap {
      max-width: 100%; } }
  .cover .content-wrap .cover-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-content: flex-start;
    background-color: transparent;
    height: 100%;
    width: 100%; }
    .cover .content-wrap .cover-inner .profile-image {
      background-position: center;
      background-size: cover;
      height: 105%;
      position: absolute;
      bottom: 0%;
      right: -3%; }
    .cover .content-wrap .cover-inner .cover-title {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      width: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      flex-direction: column;
      margin-top: -5%;
      height: 100%;
      width: auto;
      position: relative;
      align-items: flex-start; }
      .cover .content-wrap .cover-inner .cover-title h1 {
        font-weight: 300; }
        @media all and (min-width: 90em) {
          .cover .content-wrap .cover-inner .cover-title h1 {
            font-size: 10rem; } }
        @media all and (min-width: 64em) and (max-width: 89.9375em) {
          .cover .content-wrap .cover-inner .cover-title h1 {
            font-size: 7rem; } }
        @media all and (min-width: 48em) and (max-width: 63.9375em) {
          .cover .content-wrap .cover-inner .cover-title h1 {
            font-size: 5.2rem; } }
        @media all and (min-width: 40em) and (max-width: 47.9375em) {
          .cover .content-wrap .cover-inner .cover-title h1 {
            font-size: 4.6rem; } }
        @media all and (max-width: 39.9375em) {
          .cover .content-wrap .cover-inner .cover-title h1 {
            font-size: 4.4rem; } }
      .cover .content-wrap .cover-inner .cover-title h2 {
        margin: 0;
        font-weight: 300;
        text-transform: lowercase; }
        @media all and (min-width: 90em) {
          .cover .content-wrap .cover-inner .cover-title h2 {
            font-size: 5.8rem; } }
        @media all and (min-width: 64em) and (max-width: 89.9375em) {
          .cover .content-wrap .cover-inner .cover-title h2 {
            font-size: 4.1rem; } }
        @media all and (min-width: 48em) and (max-width: 63.9375em) {
          .cover .content-wrap .cover-inner .cover-title h2 {
            font-size: 3rem; } }
        @media all and (min-width: 40em) and (max-width: 47.9375em) {
          .cover .content-wrap .cover-inner .cover-title h2 {
            font-size: 2.5rem; } }
        @media all and (max-width: 39.9375em) {
          .cover .content-wrap .cover-inner .cover-title h2 {
            font-size: 2.4rem; } }
    @media all and (max-width: 39.9375em) {
      .cover .content-wrap .cover-inner {
        justify-content: center;
        flex-direction: column;
        text-align: center; }
        .cover .content-wrap .cover-inner .profile-image {
          right: 0%;
          height: 150px;
          width: 150px;
          min-height: 50px;
          min-width: 50px;
          margin-top: -10vh;
          border-radius: 50%;
          background-color: #FCFCFC;
          position: relative; }
        .cover .content-wrap .cover-inner .cover-title {
          margin-top: 20px;
          height: auto;
          position: relative;
          color: #FCFCFC;
          text-align: center;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center; } }
    @media screen and (max-height: 320px) {
      .cover .content-wrap .cover-inner .profile-image {
        margin-top: 0; }
      .cover .content-wrap .cover-inner .cover-title {
        margin-top: 10px; }
        .cover .content-wrap .cover-inner .cover-title h2 {
          display: none; } }

.header-quote {
  background-color: #1A1A1A;
  background-position: center;
  background-size: cover; }
  @media all and (min-width: 90em) {
    .header-quote {
      height: 400px; } }
  @media all and (min-width: 64em) and (max-width: 89.9375em) {
    .header-quote {
      height: 320px; } }
  @media all and (min-width: 48em) and (max-width: 63.9375em) {
    .header-quote {
      height: 260px; } }
  @media all and (min-width: 40em) and (max-width: 47.9375em) {
    .header-quote {
      height: 200px; } }
  @media all and (max-width: 39.9375em) {
    .header-quote {
      height: 280px; } }
  .header-quote .content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .header-quote .content-wrap span {
      display: block;
      text-align: center;
      color: #FCFCFC;
      text-shadow: 2px 2px 6px rgba(26, 26, 26, 0.2); }
      @media all and (min-width: 90em) {
        .header-quote .content-wrap span {
          font-size: 3.4rem; } }
      @media all and (min-width: 64em) and (max-width: 89.9375em) {
        .header-quote .content-wrap span {
          font-size: 2.8rem; } }
      @media all and (min-width: 48em) and (max-width: 63.9375em) {
        .header-quote .content-wrap span {
          font-size: 2.4rem; } }
      @media all and (min-width: 40em) and (max-width: 47.9375em) {
        .header-quote .content-wrap span {
          font-size: 2rem; } }
      @media all and (max-width: 39.9375em) {
        .header-quote .content-wrap span {
          font-size: 2rem; } }
      .header-quote .content-wrap span strong {
        color: #FCFCFC; }

.section-separator {
  background-position: center;
  background-size: cover;
  width: 100%; }
  @media all and (min-width: 90em) {
    .section-separator {
      height: 600px; } }
  @media all and (min-width: 64em) and (max-width: 89.9375em) {
    .section-separator {
      height: 420px; } }
  @media all and (min-width: 48em) and (max-width: 63.9375em) {
    .section-separator {
      height: 320px; } }
  @media all and (min-width: 40em) and (max-width: 47.9375em) {
    .section-separator {
      height: 260px; } }
  @media all and (max-width: 39.9375em) {
    .section-separator {
      height: 280px; } }

footer {
  background-color: #424242; }
  @media all and (min-width: 90em) {
    footer {
      height: 700px; } }
  @media all and (min-width: 64em) and (max-width: 89.9375em) {
    footer {
      height: 560px; } }
  @media all and (min-width: 48em) and (max-width: 63.9375em) {
    footer {
      height: 480px; } }
  @media all and (min-width: 40em) and (max-width: 47.9375em) {
    footer {
      height: 400px; } }
  @media all and (max-width: 39.9375em) {
    footer {
      height: 540px; } }
  footer .content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
    height: 88%; }
    footer .content-wrap h5 {
      text-align: center;
      color: #009999;
      font-weight: 300;
      margin-bottom: 40px; }
      @media all and (min-width: 90em) {
        footer .content-wrap h5 {
          font-size: 5.2rem; } }
      @media all and (min-width: 64em) and (max-width: 89.9375em) {
        footer .content-wrap h5 {
          font-size: 4.1rem; } }
      @media all and (min-width: 48em) and (max-width: 63.9375em) {
        footer .content-wrap h5 {
          font-size: 3rem; } }
      @media all and (min-width: 40em) and (max-width: 47.9375em) {
        footer .content-wrap h5 {
          font-size: 2.5rem; } }
      @media all and (max-width: 39.9375em) {
        footer .content-wrap h5 {
          font-size: 2.4rem; } }
    footer .content-wrap .footer-inner {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      width: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 0;
      height: 50%;
      justify-content: space-around; }
      footer .content-wrap .footer-inner .contact-message {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        width: 100%;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 55%;
        height: 100%; }
        footer .content-wrap .footer-inner .contact-message span {
          color: #FCFCFC; }
          @media all and (min-width: 90em) {
            footer .content-wrap .footer-inner .contact-message span {
              font-size: 3rem; } }
          @media all and (min-width: 64em) and (max-width: 89.9375em) {
            footer .content-wrap .footer-inner .contact-message span {
              font-size: 2.4rem; } }
          @media all and (min-width: 48em) and (max-width: 63.9375em) {
            footer .content-wrap .footer-inner .contact-message span {
              font-size: 1.8rem; } }
          @media all and (min-width: 40em) and (max-width: 47.9375em) {
            footer .content-wrap .footer-inner .contact-message span {
              font-size: 1.4rem; } }
          @media all and (max-width: 39.9375em) {
            footer .content-wrap .footer-inner .contact-message span {
              font-size: 1.4rem; } }
          footer .content-wrap .footer-inner .contact-message span strong {
            color: #FCFCFC; }
      footer .content-wrap .footer-inner .separator {
        height: 100%;
        border-right: 1px solid #D92959; }
      footer .content-wrap .footer-inner .contact-info {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        width: 100%;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        flex-direction: column;
        width: 30%;
        height: 100%;
        text-align: center; }
        footer .content-wrap .footer-inner .contact-info h6 {
          display: block;
          margin: 20px 0 10px 0;
          font-weight: 300;
          color: #FCFCFC; }
          @media all and (min-width: 90em) {
            footer .content-wrap .footer-inner .contact-info h6 {
              font-size: 1.4rem; } }
          @media all and (min-width: 64em) and (max-width: 89.9375em) {
            footer .content-wrap .footer-inner .contact-info h6 {
              font-size: 1.4rem; } }
          @media all and (min-width: 48em) and (max-width: 63.9375em) {
            footer .content-wrap .footer-inner .contact-info h6 {
              font-size: 1.2rem; } }
          @media all and (min-width: 40em) and (max-width: 47.9375em) {
            footer .content-wrap .footer-inner .contact-info h6 {
              font-size: 1.2rem; } }
          @media all and (max-width: 39.9375em) {
            footer .content-wrap .footer-inner .contact-info h6 {
              font-size: 1.2rem; } }
          footer .content-wrap .footer-inner .contact-info h6:first-child {
            margin-top: 0; }
        footer .content-wrap .footer-inner .contact-info a {
          display: block;
          color: #FFB600; }
          @media all and (min-width: 90em) {
            footer .content-wrap .footer-inner .contact-info a {
              font-size: 2rem; } }
          @media all and (min-width: 64em) and (max-width: 89.9375em) {
            footer .content-wrap .footer-inner .contact-info a {
              font-size: 1.8rem; } }
          @media all and (min-width: 48em) and (max-width: 63.9375em) {
            footer .content-wrap .footer-inner .contact-info a {
              font-size: 1.4rem; } }
          @media all and (min-width: 40em) and (max-width: 47.9375em) {
            footer .content-wrap .footer-inner .contact-info a {
              font-size: 1.4rem; } }
          @media all and (max-width: 39.9375em) {
            footer .content-wrap .footer-inner .contact-info a {
              font-size: 1.4rem; } }
        footer .content-wrap .footer-inner .contact-info img {
          display: block;
          height: 20px;
          width: 20px;
          margin-left: 5px; }
        footer .content-wrap .footer-inner .contact-info span {
          display: block;
          color: #FCFCFC; }
          footer .content-wrap .footer-inner .contact-info span strong {
            color: #FCFCFC; }
        footer .content-wrap .footer-inner .contact-info .social-media .fa {
          color: #FFB600; }
          @media all and (min-width: 90em) {
            footer .content-wrap .footer-inner .contact-info .social-media .fa {
              font-size: 3rem; } }
          @media all and (min-width: 64em) and (max-width: 89.9375em) {
            footer .content-wrap .footer-inner .contact-info .social-media .fa {
              font-size: 2.8rem; } }
          @media all and (min-width: 48em) and (max-width: 63.9375em) {
            footer .content-wrap .footer-inner .contact-info .social-media .fa {
              font-size: 2.4rem; } }
          @media all and (min-width: 40em) and (max-width: 47.9375em) {
            footer .content-wrap .footer-inner .contact-info .social-media .fa {
              font-size: 2.4rem; } }
          @media all and (max-width: 39.9375em) {
            footer .content-wrap .footer-inner .contact-info .social-media .fa {
              font-size: 2.4rem; } }
        footer .content-wrap .footer-inner .contact-info .social-media .fa-facebook-square {
          margin-right: 10px; }
    @media all and (max-width: 39.9375em) {
      footer .content-wrap {
        justify-content: center; }
        footer .content-wrap h5 {
          margin: 0 0 20px 0; }
        footer .content-wrap .footer-inner {
          width: 100%;
          height: auto;
          flex-direction: column;
          justify-content: center; }
          footer .content-wrap .footer-inner .contact-message {
            width: 100%;
            text-align: center;
            height: auto;
            margin-bottom: 20px; }
          footer .content-wrap .footer-inner .separator {
            width: 100%;
            height: 1px;
            border-top: 1px solid #D92959; }
          footer .content-wrap .footer-inner .contact-info {
            margin-top: 20px;
            width: 100%;
            height: auto; }
            footer .content-wrap .footer-inner .contact-info h6 {
              margin: 10px; } }
  footer .copyright {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #1A1A1A;
    text-transform: uppercase;
    height: 12%; }
    footer .copyright span {
      color: #FCFCFC;
      display: block;
      opacity: 0.5; }
      @media all and (min-width: 90em) {
        footer .copyright span {
          font-size: 1.2rem; } }
      @media all and (min-width: 64em) and (max-width: 89.9375em) {
        footer .copyright span {
          font-size: 1.2rem; } }
      @media all and (min-width: 48em) and (max-width: 63.9375em) {
        footer .copyright span {
          font-size: 1.2rem; } }
      @media all and (min-width: 40em) and (max-width: 47.9375em) {
        footer .copyright span {
          font-size: 1rem; } }
      @media all and (max-width: 39.9375em) {
        footer .copyright span {
          font-size: 1rem; } }
      footer .copyright span strong {
        color: #FCFCFC; }

@media only screen and (min-width: 1440px) {
  .cover {
    background-image: linear-gradient(rgba(26, 26, 26, 0.6), rgba(26, 26, 26, 0.6)), url("../images/headers/wide/engineer-bg.jpg"); } }
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .cover {
    background-image: linear-gradient(rgba(26, 26, 26, 0.6), rgba(26, 26, 26, 0.6)), url("../images/headers/wide/engineer-bg.jpg"); } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    background-image: linear-gradient(rgba(26, 26, 26, 0.6), rgba(26, 26, 26, 0.6)), url("../images/headers/large/engineer-bg.jpg"); } }
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .cover {
    background-image: linear-gradient(rgba(26, 26, 26, 0.6), rgba(26, 26, 26, 0.6)), url("../images/headers/medium/engineer-bg.jpg"); } }
@media only screen and (max-width: 639px) {
  .cover {
    background-image: linear-gradient(rgba(26, 26, 26, 0.4), rgba(26, 26, 26, 0.4)), url("../images/headers/small/engineer-blurred.jpg"); } }
.cover .profile-image {
  opacity: 0.9; }
  @media only screen and (max-width: 639px) {
    .cover .profile-image {
      background-image: linear-gradient(rgba(26, 26, 26, 0.4), rgba(26, 26, 26, 0.4)), url("../images/headers/small/engineer-bg-mini.jpg"); } }
@media all and (max-width: 39.9375em) {
  .cover .profile-image {
    opacity: 1.0; } }
.cover h1, .cover h2 {
  color: rgba(252, 252, 252, 0.8); }

@media only screen and (min-width: 1440px) {
  .header-quote {
    background-image: linear-gradient(rgba(26, 26, 26, 0.5), rgba(26, 26, 26, 0.5)), url("../images/backgrounds/wide/keyboard.jpg"); } }
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .header-quote {
    background-image: linear-gradient(rgba(26, 26, 26, 0.5), rgba(26, 26, 26, 0.5)), url("../images/backgrounds/wide/keyboard.jpg"); } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .header-quote {
    background-image: linear-gradient(rgba(26, 26, 26, 0.5), rgba(26, 26, 26, 0.5)), url("../images/backgrounds/large/keyboard.jpg"); } }
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .header-quote {
    background-image: linear-gradient(rgba(26, 26, 26, 0.5), rgba(26, 26, 26, 0.5)), url("../images/backgrounds/medium/keyboard.jpg"); } }
@media only screen and (max-width: 639px) {
  .header-quote {
    background-image: linear-gradient(rgba(26, 26, 26, 0.5), rgba(26, 26, 26, 0.5)), url("../images/backgrounds/small/keyboard.jpg"); } }

main {
  background-color: #FCFCFC; }
  main section {
    padding: 60px 0 60px 0; }
    main section h3 {
      display: block;
      margin-bottom: 40px; }
      @media all and (min-width: 90em) {
        main section h3 {
          font-size: 5rem; } }
      @media all and (min-width: 64em) and (max-width: 89.9375em) {
        main section h3 {
          font-size: 4.4rem; } }
      @media all and (min-width: 48em) and (max-width: 63.9375em) {
        main section h3 {
          font-size: 4.2rem; } }
      @media all and (min-width: 40em) and (max-width: 47.9375em) {
        main section h3 {
          font-size: 3.8rem; } }
      @media all and (max-width: 39.9375em) {
        main section h3 {
          font-size: 3.4rem; } }
    @media all and (min-width: 90em) {
      main section p, main section span {
        font-size: 2.6rem; } }
    @media all and (min-width: 64em) and (max-width: 89.9375em) {
      main section p, main section span {
        font-size: 2.2rem; } }
    @media all and (min-width: 48em) and (max-width: 63.9375em) {
      main section p, main section span {
        font-size: 2rem; } }
    @media all and (min-width: 40em) and (max-width: 47.9375em) {
      main section p, main section span {
        font-size: 1.8rem; } }
    @media all and (max-width: 39.9375em) {
      main section p, main section span {
        font-size: 1.8rem; } }

@media all and (max-width: 39.9375em) {
  .code-weapons-section h3, .code-weapons-section span {
    text-align: center;
    display: block; } }
.code-weapons-section .weapons-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 800px;
  width: 100%;
  height: auto;
  margin: 30px auto 40px auto;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap; }
  @media all and (max-width: 39.9375em) {
    .code-weapons-section .weapons-inner {
      margin: 30px auto 20px auto; } }
  .code-weapons-section .weapons-inner .weapon {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 110px;
    height: 110px;
    margin: 20px;
    max-height: auto; }
    .code-weapons-section .weapons-inner .weapon a .info h3 {
      font-weight: 300; }
      @media all and (min-width: 90em) {
        .code-weapons-section .weapons-inner .weapon a .info h3 {
          font-size: 2rem; } }
      @media all and (min-width: 64em) and (max-width: 89.9375em) {
        .code-weapons-section .weapons-inner .weapon a .info h3 {
          font-size: 2rem; } }
      @media all and (min-width: 48em) and (max-width: 63.9375em) {
        .code-weapons-section .weapons-inner .weapon a .info h3 {
          font-size: 2rem; } }
      @media all and (min-width: 40em) and (max-width: 47.9375em) {
        .code-weapons-section .weapons-inner .weapon a .info h3 {
          font-size: 1.6rem; } }
      @media all and (max-width: 39.9375em) {
        .code-weapons-section .weapons-inner .weapon a .info h3 {
          font-size: 1.6rem; } }
    .code-weapons-section .weapons-inner .weapon a.has-hover:hover .img {
      opacity: 0;
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5); }
    .code-weapons-section .weapons-inner .weapon a.has-hover:hover .info {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    @media all and (max-width: 39.9375em) {
      .code-weapons-section .weapons-inner .weapon {
        width: 90px;
        height: 90px;
        margin: 10px; } }
    .code-weapons-section .weapons-inner .weapon#html5 .info {
      background: #d65a32; }
    .code-weapons-section .weapons-inner .weapon#css3 .info {
      background: #4598d0; }
    .code-weapons-section .weapons-inner .weapon#sass .info {
      background: #a64b7c; }
    .code-weapons-section .weapons-inner .weapon#jquery .info {
      background: #1e5798; }
    .code-weapons-section .weapons-inner .weapon#swift .info {
      background: #e23b33; }
    .code-weapons-section .weapons-inner .weapon#xcode .info {
      background: #1953d6; }
    .code-weapons-section .weapons-inner .weapon#windows .info {
      background: #397b0a; }
    .code-weapons-section .weapons-inner .weapon#sql-server .info {
      background: #e12727; }
    .code-weapons-section .weapons-inner .weapon#visual-studio .info {
      background: #4a2266; }
    .code-weapons-section .weapons-inner .weapon#rest .info {
      background: #009999; }

@media all and (max-width: 39.9375em) {
  .se-tools-section .content-wrap h3, .se-tools-section .content-wrap span {
    text-align: center;
    display: block; } }
.se-tools-section .content-wrap ul {
  position: relative;
  list-style-type: none;
  margin-top: 30px; }
  @media all and (max-width: 39.9375em) {
    .se-tools-section .content-wrap ul {
      text-align: center; } }
  .se-tools-section .content-wrap ul li.level-one {
    display: block;
    text-transform: uppercase;
    padding-bottom: 20px; }
    @media all and (min-width: 90em) {
      .se-tools-section .content-wrap ul li.level-one {
        font-size: 2.2rem; } }
    @media all and (min-width: 64em) and (max-width: 89.9375em) {
      .se-tools-section .content-wrap ul li.level-one {
        font-size: 2rem; } }
    @media all and (min-width: 48em) and (max-width: 63.9375em) {
      .se-tools-section .content-wrap ul li.level-one {
        font-size: 1.8rem; } }
    @media all and (min-width: 40em) and (max-width: 47.9375em) {
      .se-tools-section .content-wrap ul li.level-one {
        font-size: 1.6rem; } }
    @media all and (max-width: 39.9375em) {
      .se-tools-section .content-wrap ul li.level-one {
        font-size: 1.6rem; } }
    .se-tools-section .content-wrap ul li.level-one a {
      color: #D92959;
      font-weight: 300;
      text-decoration: none; }
      .se-tools-section .content-wrap ul li.level-one a :visited, .se-tools-section .content-wrap ul li.level-one a :hover, .se-tools-section .content-wrap ul li.level-one a :active, .se-tools-section .content-wrap ul li.level-one a :link {
        text-decoration: none; }
      .se-tools-section .content-wrap ul li.level-one a .indicator {
        color: #D92959;
        display: inline-block;
        margin-right: 10px;
        transition: transform 0.2s linear; }
    .se-tools-section .content-wrap ul li.level-one ul {
      display: none; }
      .se-tools-section .content-wrap ul li.level-one ul .level-two {
        margin-left: 21px;
        text-transform: none;
        font-weight: 400;
        margin-bottom: 20px; }
        @media all and (min-width: 90em) {
          .se-tools-section .content-wrap ul li.level-one ul .level-two {
            font-size: 2.6rem; } }
        @media all and (min-width: 64em) and (max-width: 89.9375em) {
          .se-tools-section .content-wrap ul li.level-one ul .level-two {
            font-size: 2.2rem; } }
        @media all and (min-width: 48em) and (max-width: 63.9375em) {
          .se-tools-section .content-wrap ul li.level-one ul .level-two {
            font-size: 2rem; } }
        @media all and (min-width: 40em) and (max-width: 47.9375em) {
          .se-tools-section .content-wrap ul li.level-one ul .level-two {
            font-size: 1.8rem; } }
        @media all and (max-width: 39.9375em) {
          .se-tools-section .content-wrap ul li.level-one ul .level-two {
            font-size: 1.8rem; } }
        @media all and (max-width: 39.9375em) {
          .se-tools-section .content-wrap ul li.level-one ul .level-two {
            margin-left: 0px; } }
    .se-tools-section .content-wrap ul li.level-one.uncollapsed a .indicator {
      -ms-transform: rotate(90deg);
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      /* Chrome, Safari, Opera */
      transform: rotate(90deg); }

.agile-section {
  overflow: visible;
  margin: 40px 0px; }
  .agile-section .content-wrap span {
    display: block; }
  @media all and (max-width: 39.9375em) {
    .agile-section .content-wrap {
      text-align: center; } }
  .agile-section .content-wrap .scroll-animated {
    visibility: hidden; }
  .agile-section .content-wrap .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    visibility: visible; }
@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%); } }
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%); } }
  .agile-section .content-wrap .endline {
    text-transform: uppercase; }
  .agile-section .content-wrap .fa-users {
    text-align: center;
    position: absolute;
    bottom: -90px;
    right: -5%;
    width: 25%;
    min-width: 320px;
    height: auto;
    color: rgba(26, 26, 26, 0.05); }
    @media all and (min-width: 90em) {
      .agile-section .content-wrap .fa-users {
        font-size: 24rem; } }
    @media all and (min-width: 64em) and (max-width: 89.9375em) {
      .agile-section .content-wrap .fa-users {
        font-size: 20rem; } }
    @media all and (min-width: 48em) and (max-width: 63.9375em) {
      .agile-section .content-wrap .fa-users {
        font-size: 18rem; } }
    @media all and (min-width: 40em) and (max-width: 47.9375em) {
      .agile-section .content-wrap .fa-users {
        font-size: 16rem; } }
    @media all and (max-width: 39.9375em) {
      .agile-section .content-wrap .fa-users {
        font-size: 16rem; } }
    @media all and (max-width: 39.9375em) {
      .agile-section .content-wrap .fa-users {
        right: -20%;
        min-width: 260px; } }

@media only screen and (min-width: 1440px) {
  .section-separator#spheres {
    background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(26, 26, 26, 0)), url("../images/backgrounds/wide/spheres.jpg"); } }
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .section-separator#spheres {
    background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(26, 26, 26, 0)), url("../images/backgrounds/wide/spheres.jpg"); } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section-separator#spheres {
    background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(26, 26, 26, 0)), url("../images/backgrounds/large/spheres.jpg"); } }
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .section-separator#spheres {
    background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(26, 26, 26, 0)), url("../images/backgrounds/medium/spheres.jpg"); } }
@media only screen and (max-width: 639px) {
  .section-separator#spheres {
    background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(26, 26, 26, 0)), url("../images/backgrounds/small/spheres.jpg"); } }
@media only screen and (min-width: 1440px) {
  .section-separator#agile {
    background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(26, 26, 26, 0)), url("../images/backgrounds/wide/kanban.jpg"); } }
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .section-separator#agile {
    background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(26, 26, 26, 0)), url("../images/backgrounds/wide/kanban.jpg"); } }
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section-separator#agile {
    background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(26, 26, 26, 0)), url("../images/backgrounds/large/kanban.jpg"); } }
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .section-separator#agile {
    background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(26, 26, 26, 0)), url("../images/backgrounds/medium/kanban.jpg"); } }
@media only screen and (max-width: 639px) {
  .section-separator#agile {
    background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(26, 26, 26, 0)), url("../images/backgrounds/small/kanban.jpg"); } }

/*# sourceMappingURL=engineer.css.map */
